body.prc-legacy-post .wp-block-post-content {
	& > figure:not(.wp-block-image) > img.alignright,
	& > figure:not(.wp-block-image) > a > img.alignright {
		float: right;
		margin-left: 1em!important;
		margin-bottom: 1em!important;
	}
	& > figure:not(.wp-block-image) > img.alignleft,
	& > figure:not(.wp-block-image) > a > img.alignleft {
		float: left;
		margin-right: 1em!important;
		margin-bottom: 1em!important;
	}
	& > figure:not(.wp-block-image) > a > img.aligncenter,
	& > figure:not(.wp-block-image) > img.aligncenter {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	& > figure.wp-block-image:not(.alignwide):not(.alignfull).alignright {
		max-width: 420px!important;
	}

	.wp-block-image:first-of-type.alignright + p {
		margin-top: 0;
	}
}
