.prc-attachments-list {
	&__image {
		span {
			text-align: left;
			display: inline-block;
		}
		background-color: white!important;
		padding: 3px!important;
		border: 1px solid;
		border-color: transparent;
		cursor: pointer;
		margin-block-end: 1.5em;
		&:hover,
		&--is-selected {
			opacity: 1.0;
			border-color: var(--wp-admin-theme-color, #000);
		}
		&:active {
			border-color: var(--wp-admin-theme-color-darker-10, #000);
		}
		&--in-use {
			opacity: 0.5;
		}
	}
}


.prc-attachments-tabs {
	.active-tab {
		background: var(--wp-admin-theme-color);
		color: white;
	}
}
