.wp-block-post-content.wp-block-post-content-is-layout-flow {
	max-width: 1136px!important;
	margin-left: auto;
	margin-right: auto;
}

.editor-styles-wrapper .block-editor-block-list__layout.is-root-container > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
	max-width: 100%!important;
	margin-left: auto;
	margin-right: auto;
}
