/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-prc-platform-facet-template {
	color: inherit;
	background: inherit;
	display: flex;
	flex-direction: column;
	gap: var(--block-gap);
	// Moved the styling for the global is-processing into facets-context-provider for now...
	// When block states comes online this should be made more abstracted.
	// &.is-processing {
	// 	opacity: 0.5;
	// }
	&:not(.is-expanded) {
		.wp-block-prc-platform-facet-template__list-expanded {
			display: none;
		}
	}
	.wp-block-prc-platform-facet-template__label {
		margin: 0!important;
		display: flex;
		flex-direction: row;
		align-items: center;
		span:first-of-type {
			display: flex;
			flex-grow: 1;
		}
	}

	&:not(.has-expanded-choices) {
		.wp-block-prc-platform-facet-template__list-expanded-button,
		.wp-block-prc-platform-facet-template__list-expanded {
			display: none;
		}
	}

	.wp-block-prc-platform-facet-template__list-expanded-button,
	.wp-block-prc-block-platform-facet-template__clear {
		appearance: none;
		border: none;
		background: transparent;
		text-align: left;
		cursor: pointer;
	}

	&:not(.has-selections) .wp-block-prc-block-platform-facet-template__clear {
		display: none;
	}
	.wp-block-prc-block-platform-facet-template__clear {
		margin: 0;
		float: right;
	}
}


.wp-block-prc-platform-facet-template.is-type-date_range {
	&:not(.wp-block) {
		flex-direction: row;
		display: flex;
		flex-wrap: wrap;
		.wp-block-prc-platform-facet-template__label {
			width: 100%;
			flex-grow: 1;
		}
		.wp-block-prc-block-form-input-select {
			width: 48%;
		}
	}
	&.wp-block .block-editor-block-list__layout {
		flex-direction: row;
		display: flex;
		gap: var(--block-gap);
	}
}
