.wp-block-prc-platform-dataset-download {
	padding: 0;
}
.is-logged-in .wp-block-prc-platform-dataset-download,
.wp-block.wp-block-prc-platform-dataset-download {
	padding-top: 1em;
	padding-left: 1em;
	.wp-element-button {
		&.is-processing {
			opacity: 0.5;
			transition: opacity 0.3s;
		}
		&.is-error {
			background-color: var(--wp--preset--color--ui-error);
			transition: background-color 0.3s;
			color: #fff;
		}
		&.is-success {
			background-color: var(--wp--preset--color--ui-success);
			transition: background-color 0.3s;
			color: #fff;
		}
	}
	.wp-block-heading {
		font-family: var(--wp--preset--font--sans-serif);
	}
}
