.components-button.is-compact.inherit-height {
	height: inherit!important;
}
.components-dropdown.editor-post-url__panel-dropdown {
	.components-button.editor-post-url__panel-toggle.is-compact {
		min-height: max-content !important;
		height: 100%;
	}
}

.prc-platform-art-direction__list {
	min-width: 249px;
	width: 100%;
}

.media-modal:has(.prc-platform-art-direction__modal) {
	z-index: 1999999;
}
