$help-center-z-index: 9999;
$font-body-small: 14px;
$head-foot-height: 45px;
$header-height: 35px;
$franklin-gothic: "Franklin Gothic", sans-serif;
/* Glow Gradient */
$placeholderLoadingAnimationDuration: 2s;
$placeholderLoadingGradientWidth: 1200px;
$placeholderLoadingGradient: linear-gradient(
	to right,
	rgba(0, 0, 0, 0.08) 0%,
	rgba(0, 0, 0, 0.15) 15%,
	rgba(0, 0, 0, 0.08) 30%
);
$placeholderInvertedLoadingGradient: linear-gradient(
	to right,
	rgba(255, 255, 255, 0.08) 0%,
	rgba(255, 255, 255, 0.14) 15%,
	rgba(255, 255, 255, 0.08) 30%
);
@keyframes placeholderShimmer {
	0% {
		background-position: -$placeholderLoadingGradientWidth 0;
	}

	100% {
		background-position: $placeholderLoadingGradientWidth 0;
	}
}

@mixin placeholder($height, $width) {
	animation: placeholderShimmer $placeholderLoadingAnimationDuration linear;
	animation-iteration-count: infinite;
	background-color: white;
	background-image: $placeholderLoadingGradient;
	background-size: $placeholderLoadingGradientWidth 100%;
	height: $height;
	width: $width;
}

.help-center__container {
	background-color: #fff;
	z-index: $help-center-z-index;
	cursor: default;
	transition: max-height 0.5s;
	animation: 0.25s ease-out 0s 1 normal none running slideIn;
	position: fixed;
	font-size: $font-body-small;
	font-family: $franklin-gothic;
	color: var(--studio-gray-100);

	.help-center__button {
		text-decoration: none;
		font-size: $font-body-small;
		border: none;
		padding: 10px;
		border-radius: 5px;
		margin: 10px 0;
		cursor: pointer;
		text-decoration: none;
		&--primary {
			background-color: var(--wp--preset--color--ui-black);
			color: var(--wp--preset--color--ui-white);
			&:hover {
				background-color: var(--wp--preset--color--ui-black-dark);
			}
		}
		&--secondary {
			background-color: var(--wp--preset--color--ui-white);
			color: var(--wp--preset--color--ui-black);
			border: 1px solid var(--wp--preset--color--ui-black);
		}
		&--unstyled {
			background: none;
			border: none;
			padding: 0;
			margin: 0;
		}
	}

	.help-center__section-title {
		font-size: $font-body-small;
		font-weight: 500;
		color: var(--studio-gray-100);
		margin: 1em 0;
	}

	/**
	 * Used on loading screens across Help Center
	 */
	.help-center__loading {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;

		.spinner__outer {
			border-top-color: var(--wp-admin-theme-color);
		}

		.spinner__inner {
			border-top-color: var(--wp-admin-theme-color);
			border-right-color: var(--wp-admin-theme-color);
		}
	}

	&.is-minimized {
		.help-center__container-header {
			cursor: pointer;
		}

		.help-center__container-content {
			display: none;
		}

		.help-center-header__text {
			cursor: pointer;
		}
	}

	/**
	 * Desktop
	 */
	&.is-desktop {
		width: 410px;
		height: auto;
		max-height: 800px;
		box-shadow:
			0 3px 8px 0 rgba(0, 0, 0, 0.12),
			0 3px 1px 0 rgba(0, 0, 0, 0.04);
		border-radius: 2px;
		padding: 10px;
		margin: 10px 0;
		&.is-minimized {
			min-height: $head-foot-height;
			max-height: $head-foot-height;
			top: unset;
			right: 50px;
			bottom: calc(#{$header-height} + 16px);
		}
	}

	/**
	 * Mobile
	 */
	&.is-mobile {
		bottom: 0;
		left: 0;
		right: 0;
		/* If the masterbar is there, don't cover it, if not, go to the top. */
		top: var(--masterbar-height, 0);
		max-height: calc(100% - 45px);
		height: calc(100% - var(--masterbar-height, 0));
		animation: 0.25s ease-out 0s 1 normal none running fadeIn;

		.help-center__container-footer {
			margin-bottom: 0;
		}

		&.is-minimized {
			min-height: $head-foot-height;
			max-height: $head-foot-height;
			top: calc(100vh - #{$head-foot-height});

			@supports (height: 100dvh) {
				top: calc(100dvh - #{$head-foot-height});
			}
		}
	}

	/**
	* Animations
	*/
	@keyframes fadeIn {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}

	@keyframes slideIn {
		0% {
			opacity: 0;
			transform: scale(0);
		}

		100% {
			opacity: 1;
			transform: scale(1);
		}
	}
}

.help-center__header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 0;
	margin-bottom: 10px;
	align-items: center;
	border-bottom: 1px solid #999;
	padding-bottom: 5px;
}

.help-center__vis-buttons {
	display: flex;
	justify-content: flex-end;
	button {
		background: none;
		border: none;
		cursor: pointer;
		span {
			color: var(--wp--preset--color--ui-text-color);
		}
	}
}

.help-center__container-content {
	flex-grow: 1;
	scroll-behavior: smooth;
	overflow-y: auto;
	padding: 0;

	.help-center__container-content-wrapper {
		height: auto;

		> * {
			box-sizing: border-box;
		}
	}
}

.help-center__recent-articles,
.help-center__search-results {
	button {
		// completely remove all button styles, style like a link
		background: none;
		border: none;
		cursor: pointer;
		padding: 0;
		text-decoration: underline;
		color: var(--wp--preset--color--ui-link-color);
	}
}

.help-center__article-header {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 5px;
	margin: 10px 0;
	h3 {
		margin: 0;
	}
	a {
		text-decoration: none;
	}
}

.help-center__article {
	position: relative;
	height: 100%;
	max-height: 50vh;
	overflow-y: scroll;
	padding: 10px;
	margin: 10px 0;
	border-top: 1px solid var(--wp--preset--color--ui-black) !important;
	border-bottom: 1px solid var(--wp--preset--color--ui-black) !important;
}

.placeholder {
	@include placeholder(100px, 100%);
}
