$icon-ui-accessible-icon = "\ea01"
$icon-ui-accusoft = "\ea02"
$icon-ui-acquisitions-incorporated = "\ea03"
$icon-ui-address-book = "\ea04"
$icon-ui-address-card = "\ea05"
$icon-ui-adjust = "\ea06"
$icon-ui-adversal = "\ea07"
$icon-ui-airbnb = "\ea08"
$icon-ui-align-center = "\ea09"
$icon-ui-align-justify = "\ea0a"
$icon-ui-align-left = "\ea0b"
$icon-ui-align-right = "\ea0c"
$icon-ui-amazon = "\ea0d"
$icon-ui-ambulance = "\ea0e"
$icon-ui-american-sign-language-interpreting = "\ea0f"
$icon-ui-anchor = "\ea10"
$icon-ui-android = "\ea11"
$icon-ui-angle-double-down = "\ea12"
$icon-ui-angle-double-left = "\ea13"
$icon-ui-angle-double-right = "\ea14"
$icon-ui-angle-double-up = "\ea15"
$icon-ui-angle-down = "\ea16"
$icon-ui-angle-left = "\ea17"
$icon-ui-angle-right = "\ea18"
$icon-ui-angle-up = "\ea19"
$icon-ui-angular = "\ea1a"
$icon-ui-app-store = "\ea1b"
$icon-ui-app-store-ios = "\ea1c"
$icon-ui-apple = "\ea1d"
$icon-ui-apple-pay = "\ea1e"
$icon-ui-archive = "\ea1f"
$icon-ui-arrow-alt-circle-down = "\ea20"
$icon-ui-arrow-alt-circle-left = "\ea21"
$icon-ui-arrow-alt-circle-right = "\ea22"
$icon-ui-arrow-alt-circle-up = "\ea23"
$icon-ui-arrow-circle-down = "\ea24"
$icon-ui-arrow-circle-left = "\ea25"
$icon-ui-arrow-circle-right = "\ea26"
$icon-ui-arrow-circle-up = "\ea27"
$icon-ui-arrow-down = "\ea28"
$icon-ui-arrow-left = "\ea29"
$icon-ui-arrow-right = "\ea2a"
$icon-ui-arrow-up = "\ea2b"
$icon-ui-arrows-alt = "\ea2c"
$icon-ui-arrows-alt-h = "\ea2d"
$icon-ui-arrows-alt-v = "\ea2e"
$icon-ui-artstation = "\ea2f"
$icon-ui-assistive-listening-systems = "\ea30"
$icon-ui-asterisk = "\ea31"
$icon-ui-at = "\ea32"
$icon-ui-atlassian = "\ea33"
$icon-ui-audible = "\ea34"
$icon-ui-audio-description = "\ea35"
$icon-ui-aws = "\ea36"
$icon-ui-backward = "\ea37"
$icon-ui-balance-scale = "\ea38"
$icon-ui-ban = "\ea39"
$icon-ui-band-aid = "\ea3a"
$icon-ui-bandcamp = "\ea3b"
$icon-ui-barcode = "\ea3c"
$icon-ui-bars = "\ea3d"
$icon-ui-baseball-ball = "\ea3e"
$icon-ui-basketball-ball = "\ea3f"
$icon-ui-bath = "\ea40"
$icon-ui-battery-empty = "\ea41"
$icon-ui-battery-full = "\ea42"
$icon-ui-battery-half = "\ea43"
$icon-ui-battery-quarter = "\ea44"
$icon-ui-battery-three-quarters = "\ea45"
$icon-ui-bed = "\ea46"
$icon-ui-beer = "\ea47"
$icon-ui-bell = "\ea48"
$icon-ui-bell-slash = "\ea49"
$icon-ui-bicycle = "\ea4a"
$icon-ui-binoculars = "\ea4b"
$icon-ui-birthday-cake = "\ea4c"
$icon-ui-bitbucket = "\ea4d"
$icon-ui-bitcoin = "\ea4e"
$icon-ui-blind = "\ea4f"
$icon-ui-blogger = "\ea50"
$icon-ui-blogger-b = "\ea51"
$icon-ui-bluetooth = "\ea52"
$icon-ui-bluetooth-b = "\ea53"
$icon-ui-bold = "\ea54"
$icon-ui-bolt = "\ea55"
$icon-ui-bomb = "\ea56"
$icon-ui-book = "\ea57"
$icon-ui-bookmark = "\ea58"
$icon-ui-bootstrap = "\ea59"
$icon-ui-bowling-ball = "\ea5a"
$icon-ui-box = "\ea5b"
$icon-ui-boxes = "\ea5c"
$icon-ui-braille = "\ea5d"
$icon-ui-briefcase = "\ea5e"
$icon-ui-btc = "\ea5f"
$icon-ui-buffer = "\ea60"
$icon-ui-bug = "\ea61"
$icon-ui-building = "\ea62"
$icon-ui-bullhorn = "\ea63"
$icon-ui-bullseye = "\ea64"
$icon-ui-bus = "\ea65"
$icon-ui-calculator = "\ea66"
$icon-ui-calendar = "\ea67"
$icon-ui-calendar-alt = "\ea68"
$icon-ui-calendar-check = "\ea69"
$icon-ui-calendar-minus = "\ea6a"
$icon-ui-calendar-plus = "\ea6b"
$icon-ui-calendar-times = "\ea6c"
$icon-ui-camera = "\ea6d"
$icon-ui-camera-retro = "\ea6e"
$icon-ui-canadian-maple-leaf = "\ea6f"
$icon-ui-car = "\ea70"
$icon-ui-caret-down = "\ea71"
$icon-ui-caret-left = "\ea72"
$icon-ui-caret-right = "\ea73"
$icon-ui-caret-square-down = "\ea74"
$icon-ui-caret-square-left = "\ea75"
$icon-ui-caret-square-right = "\ea76"
$icon-ui-caret-square-up = "\ea77"
$icon-ui-caret-up = "\ea78"
$icon-ui-cart-arrow-down = "\ea79"
$icon-ui-cart-plus = "\ea7a"
$icon-ui-cc-amex = "\ea7b"
$icon-ui-cc-apple-pay = "\ea7c"
$icon-ui-cc-diners-club = "\ea7d"
$icon-ui-cc-discover = "\ea7e"
$icon-ui-cc-jcb = "\ea7f"
$icon-ui-cc-mastercard = "\ea80"
$icon-ui-cc-paypal = "\ea81"
$icon-ui-cc-stripe = "\ea82"
$icon-ui-cc-visa = "\ea83"
$icon-ui-certificate = "\ea84"
$icon-ui-chart-area = "\ea85"
$icon-ui-chart-bar = "\ea86"
$icon-ui-chart-line = "\ea87"
$icon-ui-chart-pie = "\ea88"
$icon-ui-check = "\ea89"
$icon-ui-check-circle = "\ea8a"
$icon-ui-check-square = "\ea8b"
$icon-ui-chess = "\ea8c"
$icon-ui-chess-bishop = "\ea8d"
$icon-ui-chess-board = "\ea8e"
$icon-ui-chess-king = "\ea8f"
$icon-ui-chess-knight = "\ea90"
$icon-ui-chess-pawn = "\ea91"
$icon-ui-chess-queen = "\ea92"
$icon-ui-chess-rook = "\ea93"
$icon-ui-chevron-circle-down = "\ea94"
$icon-ui-chevron-circle-left = "\ea95"
$icon-ui-chevron-circle-right = "\ea96"
$icon-ui-chevron-circle-up = "\ea97"
$icon-ui-chevron-down = "\ea98"
$icon-ui-chevron-left = "\ea99"
$icon-ui-chevron-right = "\ea9a"
$icon-ui-chevron-up = "\ea9b"
$icon-ui-child = "\ea9c"
$icon-ui-chrome = "\ea9d"
$icon-ui-chromecast = "\ea9e"
$icon-ui-circle = "\ea9f"
$icon-ui-circle-notch = "\eaa0"
$icon-ui-clipboard = "\eaa1"
$icon-ui-clipboard-check = "\eaa2"
$icon-ui-clipboard-list = "\eaa3"
$icon-ui-clock = "\eaa4"
$icon-ui-clone = "\eaa5"
$icon-ui-close = "\eaa6"
$icon-ui-closed-captioning = "\eaa7"
$icon-ui-cloud = "\eaa8"
$icon-ui-cloud-download-alt = "\eaa9"
$icon-ui-cloud-upload-alt = "\eaaa"
$icon-ui-cloudflare = "\eaab"
$icon-ui-code = "\eaac"
$icon-ui-code-branch = "\eaad"
$icon-ui-codepen = "\eaae"
$icon-ui-coffee = "\eaaf"
$icon-ui-cog = "\eab0"
$icon-ui-cogs = "\eab1"
$icon-ui-columns = "\eab2"
$icon-ui-comment = "\eab3"
$icon-ui-comment-alt = "\eab4"
$icon-ui-comments = "\eab5"
$icon-ui-compass = "\eab6"
$icon-ui-compress = "\eab7"
$icon-ui-confluence = "\eab8"
$icon-ui-copy = "\eab9"
$icon-ui-copyright = "\eaba"
$icon-ui-creative-commons = "\eabb"
$icon-ui-creative-commons-by = "\eabc"
$icon-ui-creative-commons-nc = "\eabd"
$icon-ui-creative-commons-nc-eu = "\eabe"
$icon-ui-creative-commons-nc-jp = "\eabf"
$icon-ui-creative-commons-nd = "\eac0"
$icon-ui-creative-commons-pd = "\eac1"
$icon-ui-creative-commons-pd-alt = "\eac2"
$icon-ui-creative-commons-remix = "\eac3"
$icon-ui-creative-commons-sa = "\eac4"
$icon-ui-creative-commons-sampling = "\eac5"
$icon-ui-creative-commons-sampling-plus = "\eac6"
$icon-ui-creative-commons-share = "\eac7"
$icon-ui-creative-commons-zero = "\eac8"
$icon-ui-credit-card = "\eac9"
$icon-ui-crop = "\eaca"
$icon-ui-crosshairs = "\eacb"
$icon-ui-css3 = "\eacc"
$icon-ui-css3-alt = "\eacd"
$icon-ui-cube = "\eace"
$icon-ui-cubes = "\eacf"
$icon-ui-cut = "\ead0"
$icon-ui-dailymotion = "\ead1"
$icon-ui-database = "\ead2"
$icon-ui-deaf = "\ead3"
$icon-ui-deezer = "\ead4"
$icon-ui-delicious = "\ead5"
$icon-ui-desktop = "\ead6"
$icon-ui-dev = "\ead7"
$icon-ui-digg = "\ead8"
$icon-ui-discord = "\ead9"
$icon-ui-discourse = "\eada"
$icon-ui-dna = "\eadb"
$icon-ui-docker = "\eadc"
$icon-ui-dollar-sign = "\eadd"
$icon-ui-dolly = "\eade"
$icon-ui-dolly-flatbed = "\eadf"
$icon-ui-dot-circle = "\eae0"
$icon-ui-download = "\eae1"
$icon-ui-dropbox = "\eae2"
$icon-ui-edge = "\eae3"
$icon-ui-edge-legacy = "\eae4"
$icon-ui-edit = "\eae5"
$icon-ui-eject = "\eae6"
$icon-ui-ellipsis-h = "\eae7"
$icon-ui-ellipsis-v = "\eae8"
$icon-ui-envelope = "\eae9"
$icon-ui-envelope-open = "\eaea"
$icon-ui-envelope-square = "\eaeb"
$icon-ui-envira = "\eaec"
$icon-ui-eraser = "\eaed"
$icon-ui-ethereum = "\eaee"
$icon-ui-euro-sign = "\eaef"
$icon-ui-evernote = "\eaf0"
$icon-ui-exchange-alt = "\eaf1"
$icon-ui-exclamation = "\eaf2"
$icon-ui-exclamation-circle = "\eaf3"
$icon-ui-exclamation-triangle = "\eaf4"
$icon-ui-expand = "\eaf5"
$icon-ui-expand-arrows-alt = "\eaf6"
$icon-ui-external-link-alt = "\eaf7"
$icon-ui-external-link-square-alt = "\eaf8"
$icon-ui-eye = "\eaf9"
$icon-ui-eye-dropper = "\eafa"
$icon-ui-eye-slash = "\eafb"
$icon-ui-facebook = "\eafc"
$icon-ui-facebook-f = "\eafd"
$icon-ui-facebook-messenger = "\eafe"
$icon-ui-facebook-square = "\eaff"
$icon-ui-fast-backward = "\eb00"
$icon-ui-fast-forward = "\eb01"
$icon-ui-fax = "\eb02"
$icon-ui-female = "\eb03"
$icon-ui-fighter-jet = "\eb04"
$icon-ui-figma = "\eb05"
$icon-ui-file = "\eb06"
$icon-ui-file-alt = "\eb07"
$icon-ui-file-archive = "\eb08"
$icon-ui-file-audio = "\eb09"
$icon-ui-file-code = "\eb0a"
$icon-ui-file-excel = "\eb0b"
$icon-ui-file-image = "\eb0c"
$icon-ui-file-pdf = "\eb0d"
$icon-ui-file-powerpoint = "\eb0e"
$icon-ui-file-video = "\eb0f"
$icon-ui-file-word = "\eb10"
$icon-ui-film = "\eb11"
$icon-ui-filter = "\eb12"
$icon-ui-fire = "\eb13"
$icon-ui-fire-extinguisher = "\eb14"
$icon-ui-firefox = "\eb15"
$icon-ui-firefox-browser = "\eb16"
$icon-ui-first-aid = "\eb17"
$icon-ui-flag = "\eb18"
$icon-ui-flag-checkered = "\eb19"
$icon-ui-flask = "\eb1a"
$icon-ui-flipboard = "\eb1b"
$icon-ui-folder = "\eb1c"
$icon-ui-folder-open = "\eb1d"
$icon-ui-font = "\eb1e"
$icon-ui-font-awesome-flag = "\eb1f"
$icon-ui-football-ball = "\eb20"
$icon-ui-forward = "\eb21"
$icon-ui-frown = "\eb22"
$icon-ui-futbol = "\eb23"
$icon-ui-gamepad = "\eb24"
$icon-ui-gavel = "\eb25"
$icon-ui-gem = "\eb26"
$icon-ui-genderless = "\eb27"
$icon-ui-get-pocket = "\eb28"
$icon-ui-gift = "\eb29"
$icon-ui-git = "\eb2a"
$icon-ui-git-alt = "\eb2b"
$icon-ui-git-square = "\eb2c"
$icon-ui-github = "\eb2d"
$icon-ui-github-alt = "\eb2e"
$icon-ui-github-square = "\eb2f"
$icon-ui-glass-martini = "\eb30"
$icon-ui-globe = "\eb31"
$icon-ui-golf-ball = "\eb32"
$icon-ui-goodreads = "\eb33"
$icon-ui-goodreads-g = "\eb34"
$icon-ui-google = "\eb35"
$icon-ui-google-drive = "\eb36"
$icon-ui-google-pay = "\eb37"
$icon-ui-google-play = "\eb38"
$icon-ui-google-plus = "\eb39"
$icon-ui-google-plus-g = "\eb3a"
$icon-ui-google-plus-square = "\eb3b"
$icon-ui-google-wallet = "\eb3c"
$icon-ui-graduation-cap = "\eb3d"
$icon-ui-gulp = "\eb3e"
$icon-ui-h-square = "\eb3f"
$icon-ui-hacker-news = "\eb40"
$icon-ui-hacker-news-square = "\eb41"
$icon-ui-hand-lizard = "\eb42"
$icon-ui-hand-paper = "\eb43"
$icon-ui-hand-peace = "\eb44"
$icon-ui-hand-point-down = "\eb45"
$icon-ui-hand-point-left = "\eb46"
$icon-ui-hand-point-right = "\eb47"
$icon-ui-hand-point-up = "\eb48"
$icon-ui-hand-pointer = "\eb49"
$icon-ui-hand-rock = "\eb4a"
$icon-ui-hand-scissors = "\eb4b"
$icon-ui-hand-spock = "\eb4c"
$icon-ui-handshake = "\eb4d"
$icon-ui-hashtag = "\eb4e"
$icon-ui-hdd = "\eb4f"
$icon-ui-heading = "\eb50"
$icon-ui-headphones = "\eb51"
$icon-ui-heart = "\eb52"
$icon-ui-heartbeat = "\eb53"
$icon-ui-hire-a-helper = "\eb54"
$icon-ui-history = "\eb55"
$icon-ui-hive = "\eb56"
$icon-ui-hockey-puck = "\eb57"
$icon-ui-home = "\eb58"
$icon-ui-hospital = "\eb59"
$icon-ui-hospital-symbol = "\eb5a"
$icon-ui-hourglass = "\eb5b"
$icon-ui-hourglass-end = "\eb5c"
$icon-ui-hourglass-half = "\eb5d"
$icon-ui-hourglass-start = "\eb5e"
$icon-ui-html5 = "\eb5f"
$icon-ui-i-cursor = "\eb60"
$icon-ui-id-badge = "\eb61"
$icon-ui-id-card = "\eb62"
$icon-ui-image = "\eb63"
$icon-ui-images = "\eb64"
$icon-ui-imdb = "\eb65"
$icon-ui-inbox = "\eb66"
$icon-ui-indent = "\eb67"
$icon-ui-industry = "\eb68"
$icon-ui-info = "\eb69"
$icon-ui-info-circle = "\eb6a"
$icon-ui-instagram = "\eb6b"
$icon-ui-instagram-square = "\eb6c"
$icon-ui-internet-explorer = "\eb6d"
$icon-ui-italic = "\eb6e"
$icon-ui-itunes = "\eb6f"
$icon-ui-itunes-note = "\eb70"
$icon-ui-java = "\eb71"
$icon-ui-jira = "\eb72"
$icon-ui-js = "\eb73"
$icon-ui-js-square = "\eb74"
$icon-ui-jsfiddle = "\eb75"
$icon-ui-key = "\eb76"
$icon-ui-keyboard = "\eb77"
$icon-ui-language = "\eb78"
$icon-ui-laptop = "\eb79"
$icon-ui-laravel = "\eb7a"
$icon-ui-leaf = "\eb7b"
$icon-ui-lemon = "\eb7c"
$icon-ui-less = "\eb7d"
$icon-ui-level-down-alt = "\eb7e"
$icon-ui-level-up-alt = "\eb7f"
$icon-ui-life-ring = "\eb80"
$icon-ui-lightbulb = "\eb81"
$icon-ui-line = "\eb82"
$icon-ui-link = "\eb83"
$icon-ui-linkedin = "\eb84"
$icon-ui-linkedin-in = "\eb85"
$icon-ui-linux = "\eb86"
$icon-ui-lira-sign = "\eb87"
$icon-ui-list = "\eb88"
$icon-ui-list-alt = "\eb89"
$icon-ui-list-ol = "\eb8a"
$icon-ui-list-ul = "\eb8b"
$icon-ui-location-arrow = "\eb8c"
$icon-ui-lock = "\eb8d"
$icon-ui-lock-open = "\eb8e"
$icon-ui-long-arrow-alt-down = "\eb8f"
$icon-ui-long-arrow-alt-left = "\eb90"
$icon-ui-long-arrow-alt-right = "\eb91"
$icon-ui-long-arrow-alt-up = "\eb92"
$icon-ui-low-vision = "\eb93"
$icon-ui-magic = "\eb94"
$icon-ui-magnet = "\eb95"
$icon-ui-mailchimp = "\eb96"
$icon-ui-male = "\eb97"
$icon-ui-map = "\eb98"
$icon-ui-map-marker = "\eb99"
$icon-ui-map-marker-alt = "\eb9a"
$icon-ui-map-pin = "\eb9b"
$icon-ui-map-signs = "\eb9c"
$icon-ui-markdown = "\eb9d"
$icon-ui-mars = "\eb9e"
$icon-ui-mars-double = "\eb9f"
$icon-ui-mars-stroke = "\eba0"
$icon-ui-mars-stroke-h = "\eba1"
$icon-ui-mars-stroke-v = "\eba2"
$icon-ui-medium = "\eba3"
$icon-ui-medium-m = "\eba4"
$icon-ui-medkit = "\eba5"
$icon-ui-meh = "\eba6"
$icon-ui-mercury = "\eba7"
$icon-ui-microblog = "\eba8"
$icon-ui-microchip = "\eba9"
$icon-ui-microphone = "\ebaa"
$icon-ui-microphone-slash = "\ebab"
$icon-ui-microsoft = "\ebac"
$icon-ui-minus = "\ebad"
$icon-ui-minus-circle = "\ebae"
$icon-ui-minus-pill = "\ebaf"
$icon-ui-minus-pill-outline = "\ebb0"
$icon-ui-minus-square = "\ebb1"
$icon-ui-mobile = "\ebb2"
$icon-ui-mobile-alt = "\ebb3"
$icon-ui-money-bill-alt = "\ebb4"
$icon-ui-moon = "\ebb5"
$icon-ui-motorcycle = "\ebb6"
$icon-ui-mouse-pointer = "\ebb7"
$icon-ui-music = "\ebb8"
$icon-ui-napster = "\ebb9"
$icon-ui-newspaper = "\ebba"
$icon-ui-node = "\ebbb"
$icon-ui-node-js = "\ebbc"
$icon-ui-npm = "\ebbd"
$icon-ui-object-group = "\ebbe"
$icon-ui-object-ungroup = "\ebbf"
$icon-ui-openid = "\ebc0"
$icon-ui-opera = "\ebc1"
$icon-ui-outdent = "\ebc2"
$icon-ui-outline-address-book = "\ebc3"
$icon-ui-outline-address-card = "\ebc4"
$icon-ui-outline-angry = "\ebc5"
$icon-ui-outline-arrow-alt-circle-down = "\ebc6"
$icon-ui-outline-arrow-alt-circle-left = "\ebc7"
$icon-ui-outline-arrow-alt-circle-right = "\ebc8"
$icon-ui-outline-arrow-alt-circle-up = "\ebc9"
$icon-ui-outline-bell = "\ebca"
$icon-ui-outline-bell-slash = "\ebcb"
$icon-ui-outline-bookmark = "\ebcc"
$icon-ui-outline-building = "\ebcd"
$icon-ui-outline-calendar = "\ebce"
$icon-ui-outline-calendar-alt = "\ebcf"
$icon-ui-outline-calendar-check = "\ebd0"
$icon-ui-outline-calendar-minus = "\ebd1"
$icon-ui-outline-calendar-plus = "\ebd2"
$icon-ui-outline-calendar-times = "\ebd3"
$icon-ui-outline-caret-square-down = "\ebd4"
$icon-ui-outline-caret-square-left = "\ebd5"
$icon-ui-outline-caret-square-right = "\ebd6"
$icon-ui-outline-caret-square-up = "\ebd7"
$icon-ui-outline-chart-bar = "\ebd8"
$icon-ui-outline-check-circle = "\ebd9"
$icon-ui-outline-check-square = "\ebda"
$icon-ui-outline-circle = "\ebdb"
$icon-ui-outline-clipboard = "\ebdc"
$icon-ui-outline-clock = "\ebdd"
$icon-ui-outline-clone = "\ebde"
$icon-ui-outline-closed-captioning = "\ebdf"
$icon-ui-outline-comment = "\ebe0"
$icon-ui-outline-comment-alt = "\ebe1"
$icon-ui-outline-comment-dots = "\ebe2"
$icon-ui-outline-comments = "\ebe3"
$icon-ui-outline-compass = "\ebe4"
$icon-ui-outline-copy = "\ebe5"
$icon-ui-outline-copyright = "\ebe6"
$icon-ui-outline-credit-card = "\ebe7"
$icon-ui-outline-dizzy = "\ebe8"
$icon-ui-outline-dot-circle = "\ebe9"
$icon-ui-outline-edit = "\ebea"
$icon-ui-outline-envelope = "\ebeb"
$icon-ui-outline-envelope-open = "\ebec"
$icon-ui-outline-eye = "\ebed"
$icon-ui-outline-eye-slash = "\ebee"
$icon-ui-outline-file = "\ebef"
$icon-ui-outline-file-alt = "\ebf0"
$icon-ui-outline-file-archive = "\ebf1"
$icon-ui-outline-file-audio = "\ebf2"
$icon-ui-outline-file-code = "\ebf3"
$icon-ui-outline-file-excel = "\ebf4"
$icon-ui-outline-file-image = "\ebf5"
$icon-ui-outline-file-pdf = "\ebf6"
$icon-ui-outline-file-powerpoint = "\ebf7"
$icon-ui-outline-file-video = "\ebf8"
$icon-ui-outline-file-word = "\ebf9"
$icon-ui-outline-flag = "\ebfa"
$icon-ui-outline-flushed = "\ebfb"
$icon-ui-outline-folder = "\ebfc"
$icon-ui-outline-folder-open = "\ebfd"
$icon-ui-outline-frown = "\ebfe"
$icon-ui-outline-frown-open = "\ebff"
$icon-ui-outline-futbol = "\ec00"
$icon-ui-outline-gem = "\ec01"
$icon-ui-outline-grimace = "\ec02"
$icon-ui-outline-grin = "\ec03"
$icon-ui-outline-grin-alt = "\ec04"
$icon-ui-outline-grin-beam = "\ec05"
$icon-ui-outline-grin-beam-sweat = "\ec06"
$icon-ui-outline-grin-hearts = "\ec07"
$icon-ui-outline-grin-squint = "\ec08"
$icon-ui-outline-grin-squint-tears = "\ec09"
$icon-ui-outline-grin-stars = "\ec0a"
$icon-ui-outline-grin-tears = "\ec0b"
$icon-ui-outline-grin-tongue = "\ec0c"
$icon-ui-outline-grin-tongue-squint = "\ec0d"
$icon-ui-outline-grin-tongue-wink = "\ec0e"
$icon-ui-outline-grin-wink = "\ec0f"
$icon-ui-outline-hand-lizard = "\ec10"
$icon-ui-outline-hand-paper = "\ec11"
$icon-ui-outline-hand-peace = "\ec12"
$icon-ui-outline-hand-point-down = "\ec13"
$icon-ui-outline-hand-point-left = "\ec14"
$icon-ui-outline-hand-point-right = "\ec15"
$icon-ui-outline-hand-point-up = "\ec16"
$icon-ui-outline-hand-pointer = "\ec17"
$icon-ui-outline-hand-rock = "\ec18"
$icon-ui-outline-hand-scissors = "\ec19"
$icon-ui-outline-hand-spock = "\ec1a"
$icon-ui-outline-handshake = "\ec1b"
$icon-ui-outline-hdd = "\ec1c"
$icon-ui-outline-heart = "\ec1d"
$icon-ui-outline-hospital = "\ec1e"
$icon-ui-outline-hourglass = "\ec1f"
$icon-ui-outline-id-badge = "\ec20"
$icon-ui-outline-id-card = "\ec21"
$icon-ui-outline-image = "\ec22"
$icon-ui-outline-images = "\ec23"
$icon-ui-outline-keyboard = "\ec24"
$icon-ui-outline-kiss = "\ec25"
$icon-ui-outline-kiss-beam = "\ec26"
$icon-ui-outline-kiss-wink-heart = "\ec27"
$icon-ui-outline-laugh = "\ec28"
$icon-ui-outline-laugh-beam = "\ec29"
$icon-ui-outline-laugh-squint = "\ec2a"
$icon-ui-outline-laugh-wink = "\ec2b"
$icon-ui-outline-lemon = "\ec2c"
$icon-ui-outline-life-ring = "\ec2d"
$icon-ui-outline-lightbulb = "\ec2e"
$icon-ui-outline-list-alt = "\ec2f"
$icon-ui-outline-map = "\ec30"
$icon-ui-outline-meh = "\ec31"
$icon-ui-outline-meh-blank = "\ec32"
$icon-ui-outline-meh-rolling-eyes = "\ec33"
$icon-ui-outline-minus-square = "\ec34"
$icon-ui-outline-money-bill-alt = "\ec35"
$icon-ui-outline-moon = "\ec36"
$icon-ui-outline-newspaper = "\ec37"
$icon-ui-outline-object-group = "\ec38"
$icon-ui-outline-object-ungroup = "\ec39"
$icon-ui-outline-paper-plane = "\ec3a"
$icon-ui-outline-pause-circle = "\ec3b"
$icon-ui-outline-play-circle = "\ec3c"
$icon-ui-outline-plus-square = "\ec3d"
$icon-ui-outline-question-circle = "\ec3e"
$icon-ui-outline-registered = "\ec3f"
$icon-ui-outline-sad-cry = "\ec40"
$icon-ui-outline-sad-tear = "\ec41"
$icon-ui-outline-save = "\ec42"
$icon-ui-outline-share-square = "\ec43"
$icon-ui-outline-smile = "\ec44"
$icon-ui-outline-smile-beam = "\ec45"
$icon-ui-outline-smile-wink = "\ec46"
$icon-ui-outline-snowflake = "\ec47"
$icon-ui-outline-square = "\ec48"
$icon-ui-outline-star = "\ec49"
$icon-ui-outline-star-half = "\ec4a"
$icon-ui-outline-sticky-note = "\ec4b"
$icon-ui-outline-stop-circle = "\ec4c"
$icon-ui-outline-sun = "\ec4d"
$icon-ui-outline-surprise = "\ec4e"
$icon-ui-outline-thumbs-down = "\ec4f"
$icon-ui-outline-thumbs-up = "\ec50"
$icon-ui-outline-times-circle = "\ec51"
$icon-ui-outline-tired = "\ec52"
$icon-ui-outline-trash-alt = "\ec53"
$icon-ui-outline-user = "\ec54"
$icon-ui-outline-user-circle = "\ec55"
$icon-ui-outline-window-close = "\ec56"
$icon-ui-outline-window-maximize = "\ec57"
$icon-ui-outline-window-minimize = "\ec58"
$icon-ui-outline-window-restore = "\ec59"
$icon-ui-paint-brush = "\ec5a"
$icon-ui-pallet = "\ec5b"
$icon-ui-paper-plane = "\ec5c"
$icon-ui-paperclip = "\ec5d"
$icon-ui-paragraph = "\ec5e"
$icon-ui-paste = "\ec5f"
$icon-ui-patreon = "\ec60"
$icon-ui-pause = "\ec61"
$icon-ui-pause-circle = "\ec62"
$icon-ui-paw = "\ec63"
$icon-ui-paypal = "\ec64"
$icon-ui-pen-square = "\ec65"
$icon-ui-pencil-alt = "\ec66"
$icon-ui-percent = "\ec67"
$icon-ui-phone = "\ec68"
$icon-ui-phone-square = "\ec69"
$icon-ui-phone-volume = "\ec6a"
$icon-ui-php = "\ec6b"
$icon-ui-pills = "\ec6c"
$icon-ui-pinterest = "\ec6d"
$icon-ui-pinterest-p = "\ec6e"
$icon-ui-pinterest-square = "\ec6f"
$icon-ui-plane = "\ec70"
$icon-ui-play = "\ec71"
$icon-ui-play-circle = "\ec72"
$icon-ui-plug = "\ec73"
$icon-ui-plus = "\ec74"
$icon-ui-plus-circle = "\ec75"
$icon-ui-plus-pill = "\ec76"
$icon-ui-plus-pill-outline = "\ec77"
$icon-ui-plus-square = "\ec78"
$icon-ui-podcast = "\ec79"
$icon-ui-pound-sign = "\ec7a"
$icon-ui-power-off = "\ec7b"
$icon-ui-print = "\ec7c"
$icon-ui-puzzle-piece = "\ec7d"
$icon-ui-python = "\ec7e"
$icon-ui-qrcode = "\ec7f"
$icon-ui-question = "\ec80"
$icon-ui-question-circle = "\ec81"
$icon-ui-quora = "\ec82"
$icon-ui-quote-left = "\ec83"
$icon-ui-quote-right = "\ec84"
$icon-ui-r-project = "\ec85"
$icon-ui-random = "\ec86"
$icon-ui-raspberry-pi = "\ec87"
$icon-ui-react = "\ec88"
$icon-ui-readme = "\ec89"
$icon-ui-recycle = "\ec8a"
$icon-ui-reddit = "\ec8b"
$icon-ui-reddit-alien = "\ec8c"
$icon-ui-reddit-square = "\ec8d"
$icon-ui-redhat = "\ec8e"
$icon-ui-redo = "\ec8f"
$icon-ui-redo-alt = "\ec90"
$icon-ui-registered = "\ec91"
$icon-ui-reply = "\ec92"
$icon-ui-reply-all = "\ec93"
$icon-ui-retweet = "\ec94"
$icon-ui-rev = "\ec95"
$icon-ui-road = "\ec96"
$icon-ui-rocket = "\ec97"
$icon-ui-rss = "\ec98"
$icon-ui-rss-square = "\ec99"
$icon-ui-ruble-sign = "\ec9a"
$icon-ui-rupee-sign = "\ec9b"
$icon-ui-safari = "\ec9c"
$icon-ui-salesforce = "\ec9d"
$icon-ui-sass = "\ec9e"
$icon-ui-save = "\ec9f"
$icon-ui-scribd = "\eca0"
$icon-ui-search = "\eca1"
$icon-ui-search-minus = "\eca2"
$icon-ui-search-plus = "\eca3"
$icon-ui-server = "\eca4"
$icon-ui-share = "\eca5"
$icon-ui-share-alt = "\eca6"
$icon-ui-share-alt-square = "\eca7"
$icon-ui-share-square = "\eca8"
$icon-ui-shekel-sign = "\eca9"
$icon-ui-shield-alt = "\ecaa"
$icon-ui-ship = "\ecab"
$icon-ui-shipping-fast = "\ecac"
$icon-ui-shopping-bag = "\ecad"
$icon-ui-shopping-basket = "\ecae"
$icon-ui-shopping-cart = "\ecaf"
$icon-ui-shower = "\ecb0"
$icon-ui-sign-in-alt = "\ecb1"
$icon-ui-sign-language = "\ecb2"
$icon-ui-sign-out-alt = "\ecb3"
$icon-ui-signal = "\ecb4"
$icon-ui-sitemap = "\ecb5"
$icon-ui-sith = "\ecb6"
$icon-ui-sketch = "\ecb7"
$icon-ui-skype = "\ecb8"
$icon-ui-slack = "\ecb9"
$icon-ui-slack-hash = "\ecba"
$icon-ui-sliders-h = "\ecbb"
$icon-ui-slideshare = "\ecbc"
$icon-ui-snapchat = "\ecbd"
$icon-ui-snapchat-ghost = "\ecbe"
$icon-ui-snapchat-square = "\ecbf"
$icon-ui-snowflake = "\ecc0"
$icon-ui-sort = "\ecc1"
$icon-ui-sort-alpha-down = "\ecc2"
$icon-ui-sort-alpha-up = "\ecc3"
$icon-ui-sort-amount-down = "\ecc4"
$icon-ui-sort-amount-up = "\ecc5"
$icon-ui-sort-down = "\ecc6"
$icon-ui-sort-numeric-down = "\ecc7"
$icon-ui-sort-numeric-up = "\ecc8"
$icon-ui-sort-up = "\ecc9"
$icon-ui-space-shuttle = "\ecca"
$icon-ui-speaker-deck = "\eccb"
$icon-ui-spinner = "\eccc"
$icon-ui-spotify = "\eccd"
$icon-ui-square = "\ecce"
$icon-ui-square-full = "\eccf"
$icon-ui-stack-exchange = "\ecd0"
$icon-ui-stack-overflow = "\ecd1"
$icon-ui-star = "\ecd2"
$icon-ui-star-half = "\ecd3"
$icon-ui-step-backward = "\ecd4"
$icon-ui-step-forward = "\ecd5"
$icon-ui-stethoscope = "\ecd6"
$icon-ui-sticky-note = "\ecd7"
$icon-ui-stop = "\ecd8"
$icon-ui-stop-circle = "\ecd9"
$icon-ui-stopwatch = "\ecda"
$icon-ui-street-view = "\ecdb"
$icon-ui-strikethrough = "\ecdc"
$icon-ui-stripe = "\ecdd"
$icon-ui-stripe-s = "\ecde"
$icon-ui-subscript = "\ecdf"
$icon-ui-subway = "\ece0"
$icon-ui-suitcase = "\ece1"
$icon-ui-sun = "\ece2"
$icon-ui-superscript = "\ece3"
$icon-ui-swift = "\ece4"
$icon-ui-sync = "\ece5"
$icon-ui-sync-alt = "\ece6"
$icon-ui-syringe = "\ece7"
$icon-ui-table = "\ece8"
$icon-ui-table-tennis = "\ece9"
$icon-ui-tablet = "\ecea"
$icon-ui-tablet-alt = "\eceb"
$icon-ui-tachometer-alt = "\ecec"
$icon-ui-tag = "\eced"
$icon-ui-tags = "\ecee"
$icon-ui-tasks = "\ecef"
$icon-ui-taxi = "\ecf0"
$icon-ui-telegram = "\ecf1"
$icon-ui-telegram-plane = "\ecf2"
$icon-ui-terminal = "\ecf3"
$icon-ui-text-height = "\ecf4"
$icon-ui-text-width = "\ecf5"
$icon-ui-th = "\ecf6"
$icon-ui-th-large = "\ecf7"
$icon-ui-th-list = "\ecf8"
$icon-ui-thermometer = "\ecf9"
$icon-ui-thermometer-empty = "\ecfa"
$icon-ui-thermometer-full = "\ecfb"
$icon-ui-thermometer-half = "\ecfc"
$icon-ui-thermometer-quarter = "\ecfd"
$icon-ui-thermometer-three-quarters = "\ecfe"
$icon-ui-thumbs-down = "\ecff"
$icon-ui-thumbs-up = "\ed00"
$icon-ui-thumbtack = "\ed01"
$icon-ui-ticket-alt = "\ed02"
$icon-ui-tiktok = "\ed03"
$icon-ui-times = "\ed04"
$icon-ui-times-circle = "\ed05"
$icon-ui-tint = "\ed06"
$icon-ui-toggle-off = "\ed07"
$icon-ui-toggle-on = "\ed08"
$icon-ui-trademark = "\ed09"
$icon-ui-train = "\ed0a"
$icon-ui-transgender = "\ed0b"
$icon-ui-transgender-alt = "\ed0c"
$icon-ui-trash = "\ed0d"
$icon-ui-trash-alt = "\ed0e"
$icon-ui-tree = "\ed0f"
$icon-ui-trello = "\ed10"
$icon-ui-trophy = "\ed11"
$icon-ui-truck = "\ed12"
$icon-ui-tty = "\ed13"
$icon-ui-tumblr = "\ed14"
$icon-ui-tumblr-square = "\ed15"
$icon-ui-tv = "\ed16"
$icon-ui-twitch = "\ed17"
$icon-ui-twitter = "\ed18"
$icon-ui-twitter-square = "\ed19"
$icon-ui-ubuntu = "\ed1a"
$icon-ui-umbrella = "\ed1b"
$icon-ui-underline = "\ed1c"
$icon-ui-undo = "\ed1d"
$icon-ui-undo-alt = "\ed1e"
$icon-ui-universal-access = "\ed1f"
$icon-ui-university = "\ed20"
$icon-ui-unlink = "\ed21"
$icon-ui-unlock = "\ed22"
$icon-ui-unlock-alt = "\ed23"
$icon-ui-upload = "\ed24"
$icon-ui-usb = "\ed25"
$icon-ui-user = "\ed26"
$icon-ui-user-circle = "\ed27"
$icon-ui-user-md = "\ed28"
$icon-ui-user-plus = "\ed29"
$icon-ui-user-secret = "\ed2a"
$icon-ui-user-times = "\ed2b"
$icon-ui-users = "\ed2c"
$icon-ui-usps = "\ed2d"
$icon-ui-utensil-spoon = "\ed2e"
$icon-ui-utensils = "\ed2f"
$icon-ui-venus = "\ed30"
$icon-ui-venus-double = "\ed31"
$icon-ui-venus-mars = "\ed32"
$icon-ui-video = "\ed33"
$icon-ui-vimeo = "\ed34"
$icon-ui-vimeo-square = "\ed35"
$icon-ui-vimeo-v = "\ed36"
$icon-ui-volleyball-ball = "\ed37"
$icon-ui-volume-down = "\ed38"
$icon-ui-volume-off = "\ed39"
$icon-ui-volume-up = "\ed3a"
$icon-ui-vuejs = "\ed3b"
$icon-ui-warehouse = "\ed3c"
$icon-ui-weibo = "\ed3d"
$icon-ui-weight = "\ed3e"
$icon-ui-weixin = "\ed3f"
$icon-ui-whatsapp = "\ed40"
$icon-ui-whatsapp-square = "\ed41"
$icon-ui-wheelchair = "\ed42"
$icon-ui-wifi = "\ed43"
$icon-ui-wikipedia-w = "\ed44"
$icon-ui-window-close = "\ed45"
$icon-ui-window-maximize = "\ed46"
$icon-ui-window-minimize = "\ed47"
$icon-ui-window-restore = "\ed48"
$icon-ui-windows = "\ed49"
$icon-ui-won-sign = "\ed4a"
$icon-ui-wordpress = "\ed4b"
$icon-ui-wordpress-simple = "\ed4c"
$icon-ui-wpforms = "\ed4d"
$icon-ui-wrench = "\ed4e"
$icon-ui-yammer = "\ed4f"
$icon-ui-yarn = "\ed50"
$icon-ui-yen-sign = "\ed51"
$icon-ui-yoast = "\ed52"
$icon-ui-youtube = "\ed53"
$icon-ui-youtube-square = "\ed54"

@font-face
  font-family: "prc-app-ui"
  src: url("../font/prc-app-ui.eot")
  src: url("../font/prc-app-ui.eot?y0i68r#iefix") format("embedded-opentype"), url("../font/prc-app-ui.woff2?y0i68r") format("woff2"), url("../font/prc-app-ui.woff?y0i68r") format("woff"), url("../font/prc-app-ui.ttf?y0i68r") format("truetype"), url("../font/prc-app-ui.svg?y0i68r#prc-app-ui") format("svg")
  font-style: normal
  font-weight: 400

$icon-ui
  display: inline-block
  font-family: "prc-app-ui" !important
  font-style: normal !important
  font-weight: normal !important
  font-variant: normal !important
  text-transform: none !important
  speak: none
  line-height: 1
  vertical-align: -.125em
  text-rendering: auto
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.icon-ui
  @extend $icon-ui

.icon-ui-accessible-icon::before
  content: "\ea01"

.icon-ui-accusoft::before
  content: "\ea02"

.icon-ui-acquisitions-incorporated::before
  content: "\ea03"

.icon-ui-address-book::before
  content: "\ea04"

.icon-ui-address-card::before
  content: "\ea05"

.icon-ui-adjust::before
  content: "\ea06"

.icon-ui-adversal::before
  content: "\ea07"

.icon-ui-airbnb::before
  content: "\ea08"

.icon-ui-align-center::before
  content: "\ea09"

.icon-ui-align-justify::before
  content: "\ea0a"

.icon-ui-align-left::before
  content: "\ea0b"

.icon-ui-align-right::before
  content: "\ea0c"

.icon-ui-amazon::before
  content: "\ea0d"

.icon-ui-ambulance::before
  content: "\ea0e"

.icon-ui-american-sign-language-interpreting::before
  content: "\ea0f"

.icon-ui-anchor::before
  content: "\ea10"

.icon-ui-android::before
  content: "\ea11"

.icon-ui-angle-double-down::before
  content: "\ea12"

.icon-ui-angle-double-left::before
  content: "\ea13"

.icon-ui-angle-double-right::before
  content: "\ea14"

.icon-ui-angle-double-up::before
  content: "\ea15"

.icon-ui-angle-down::before
  content: "\ea16"

.icon-ui-angle-left::before
  content: "\ea17"

.icon-ui-angle-right::before
  content: "\ea18"

.icon-ui-angle-up::before
  content: "\ea19"

.icon-ui-angular::before
  content: "\ea1a"

.icon-ui-app-store::before
  content: "\ea1b"

.icon-ui-app-store-ios::before
  content: "\ea1c"

.icon-ui-apple::before
  content: "\ea1d"

.icon-ui-apple-pay::before
  content: "\ea1e"

.icon-ui-archive::before
  content: "\ea1f"

.icon-ui-arrow-alt-circle-down::before
  content: "\ea20"

.icon-ui-arrow-alt-circle-left::before
  content: "\ea21"

.icon-ui-arrow-alt-circle-right::before
  content: "\ea22"

.icon-ui-arrow-alt-circle-up::before
  content: "\ea23"

.icon-ui-arrow-circle-down::before
  content: "\ea24"

.icon-ui-arrow-circle-left::before
  content: "\ea25"

.icon-ui-arrow-circle-right::before
  content: "\ea26"

.icon-ui-arrow-circle-up::before
  content: "\ea27"

.icon-ui-arrow-down::before
  content: "\ea28"

.icon-ui-arrow-left::before
  content: "\ea29"

.icon-ui-arrow-right::before
  content: "\ea2a"

.icon-ui-arrow-up::before
  content: "\ea2b"

.icon-ui-arrows-alt::before
  content: "\ea2c"

.icon-ui-arrows-alt-h::before
  content: "\ea2d"

.icon-ui-arrows-alt-v::before
  content: "\ea2e"

.icon-ui-artstation::before
  content: "\ea2f"

.icon-ui-assistive-listening-systems::before
  content: "\ea30"

.icon-ui-asterisk::before
  content: "\ea31"

.icon-ui-at::before
  content: "\ea32"

.icon-ui-atlassian::before
  content: "\ea33"

.icon-ui-audible::before
  content: "\ea34"

.icon-ui-audio-description::before
  content: "\ea35"

.icon-ui-aws::before
  content: "\ea36"

.icon-ui-backward::before
  content: "\ea37"

.icon-ui-balance-scale::before
  content: "\ea38"

.icon-ui-ban::before
  content: "\ea39"

.icon-ui-band-aid::before
  content: "\ea3a"

.icon-ui-bandcamp::before
  content: "\ea3b"

.icon-ui-barcode::before
  content: "\ea3c"

.icon-ui-bars::before
  content: "\ea3d"

.icon-ui-baseball-ball::before
  content: "\ea3e"

.icon-ui-basketball-ball::before
  content: "\ea3f"

.icon-ui-bath::before
  content: "\ea40"

.icon-ui-battery-empty::before
  content: "\ea41"

.icon-ui-battery-full::before
  content: "\ea42"

.icon-ui-battery-half::before
  content: "\ea43"

.icon-ui-battery-quarter::before
  content: "\ea44"

.icon-ui-battery-three-quarters::before
  content: "\ea45"

.icon-ui-bed::before
  content: "\ea46"

.icon-ui-beer::before
  content: "\ea47"

.icon-ui-bell::before
  content: "\ea48"

.icon-ui-bell-slash::before
  content: "\ea49"

.icon-ui-bicycle::before
  content: "\ea4a"

.icon-ui-binoculars::before
  content: "\ea4b"

.icon-ui-birthday-cake::before
  content: "\ea4c"

.icon-ui-bitbucket::before
  content: "\ea4d"

.icon-ui-bitcoin::before
  content: "\ea4e"

.icon-ui-blind::before
  content: "\ea4f"

.icon-ui-blogger::before
  content: "\ea50"

.icon-ui-blogger-b::before
  content: "\ea51"

.icon-ui-bluetooth::before
  content: "\ea52"

.icon-ui-bluetooth-b::before
  content: "\ea53"

.icon-ui-bold::before
  content: "\ea54"

.icon-ui-bolt::before
  content: "\ea55"

.icon-ui-bomb::before
  content: "\ea56"

.icon-ui-book::before
  content: "\ea57"

.icon-ui-bookmark::before
  content: "\ea58"

.icon-ui-bootstrap::before
  content: "\ea59"

.icon-ui-bowling-ball::before
  content: "\ea5a"

.icon-ui-box::before
  content: "\ea5b"

.icon-ui-boxes::before
  content: "\ea5c"

.icon-ui-braille::before
  content: "\ea5d"

.icon-ui-briefcase::before
  content: "\ea5e"

.icon-ui-btc::before
  content: "\ea5f"

.icon-ui-buffer::before
  content: "\ea60"

.icon-ui-bug::before
  content: "\ea61"

.icon-ui-building::before
  content: "\ea62"

.icon-ui-bullhorn::before
  content: "\ea63"

.icon-ui-bullseye::before
  content: "\ea64"

.icon-ui-bus::before
  content: "\ea65"

.icon-ui-calculator::before
  content: "\ea66"

.icon-ui-calendar::before
  content: "\ea67"

.icon-ui-calendar-alt::before
  content: "\ea68"

.icon-ui-calendar-check::before
  content: "\ea69"

.icon-ui-calendar-minus::before
  content: "\ea6a"

.icon-ui-calendar-plus::before
  content: "\ea6b"

.icon-ui-calendar-times::before
  content: "\ea6c"

.icon-ui-camera::before
  content: "\ea6d"

.icon-ui-camera-retro::before
  content: "\ea6e"

.icon-ui-canadian-maple-leaf::before
  content: "\ea6f"

.icon-ui-car::before
  content: "\ea70"

.icon-ui-caret-down::before
  content: "\ea71"

.icon-ui-caret-left::before
  content: "\ea72"

.icon-ui-caret-right::before
  content: "\ea73"

.icon-ui-caret-square-down::before
  content: "\ea74"

.icon-ui-caret-square-left::before
  content: "\ea75"

.icon-ui-caret-square-right::before
  content: "\ea76"

.icon-ui-caret-square-up::before
  content: "\ea77"

.icon-ui-caret-up::before
  content: "\ea78"

.icon-ui-cart-arrow-down::before
  content: "\ea79"

.icon-ui-cart-plus::before
  content: "\ea7a"

.icon-ui-cc-amex::before
  content: "\ea7b"

.icon-ui-cc-apple-pay::before
  content: "\ea7c"

.icon-ui-cc-diners-club::before
  content: "\ea7d"

.icon-ui-cc-discover::before
  content: "\ea7e"

.icon-ui-cc-jcb::before
  content: "\ea7f"

.icon-ui-cc-mastercard::before
  content: "\ea80"

.icon-ui-cc-paypal::before
  content: "\ea81"

.icon-ui-cc-stripe::before
  content: "\ea82"

.icon-ui-cc-visa::before
  content: "\ea83"

.icon-ui-certificate::before
  content: "\ea84"

.icon-ui-chart-area::before
  content: "\ea85"

.icon-ui-chart-bar::before
  content: "\ea86"

.icon-ui-chart-line::before
  content: "\ea87"

.icon-ui-chart-pie::before
  content: "\ea88"

.icon-ui-check::before
  content: "\ea89"

.icon-ui-check-circle::before
  content: "\ea8a"

.icon-ui-check-square::before
  content: "\ea8b"

.icon-ui-chess::before
  content: "\ea8c"

.icon-ui-chess-bishop::before
  content: "\ea8d"

.icon-ui-chess-board::before
  content: "\ea8e"

.icon-ui-chess-king::before
  content: "\ea8f"

.icon-ui-chess-knight::before
  content: "\ea90"

.icon-ui-chess-pawn::before
  content: "\ea91"

.icon-ui-chess-queen::before
  content: "\ea92"

.icon-ui-chess-rook::before
  content: "\ea93"

.icon-ui-chevron-circle-down::before
  content: "\ea94"

.icon-ui-chevron-circle-left::before
  content: "\ea95"

.icon-ui-chevron-circle-right::before
  content: "\ea96"

.icon-ui-chevron-circle-up::before
  content: "\ea97"

.icon-ui-chevron-down::before
  content: "\ea98"

.icon-ui-chevron-left::before
  content: "\ea99"

.icon-ui-chevron-right::before
  content: "\ea9a"

.icon-ui-chevron-up::before
  content: "\ea9b"

.icon-ui-child::before
  content: "\ea9c"

.icon-ui-chrome::before
  content: "\ea9d"

.icon-ui-chromecast::before
  content: "\ea9e"

.icon-ui-circle::before
  content: "\ea9f"

.icon-ui-circle-notch::before
  content: "\eaa0"

.icon-ui-clipboard::before
  content: "\eaa1"

.icon-ui-clipboard-check::before
  content: "\eaa2"

.icon-ui-clipboard-list::before
  content: "\eaa3"

.icon-ui-clock::before
  content: "\eaa4"

.icon-ui-clone::before
  content: "\eaa5"

.icon-ui-close::before
  content: "\eaa6"

.icon-ui-closed-captioning::before
  content: "\eaa7"

.icon-ui-cloud::before
  content: "\eaa8"

.icon-ui-cloud-download-alt::before
  content: "\eaa9"

.icon-ui-cloud-upload-alt::before
  content: "\eaaa"

.icon-ui-cloudflare::before
  content: "\eaab"

.icon-ui-code::before
  content: "\eaac"

.icon-ui-code-branch::before
  content: "\eaad"

.icon-ui-codepen::before
  content: "\eaae"

.icon-ui-coffee::before
  content: "\eaaf"

.icon-ui-cog::before
  content: "\eab0"

.icon-ui-cogs::before
  content: "\eab1"

.icon-ui-columns::before
  content: "\eab2"

.icon-ui-comment::before
  content: "\eab3"

.icon-ui-comment-alt::before
  content: "\eab4"

.icon-ui-comments::before
  content: "\eab5"

.icon-ui-compass::before
  content: "\eab6"

.icon-ui-compress::before
  content: "\eab7"

.icon-ui-confluence::before
  content: "\eab8"

.icon-ui-copy::before
  content: "\eab9"

.icon-ui-copyright::before
  content: "\eaba"

.icon-ui-creative-commons::before
  content: "\eabb"

.icon-ui-creative-commons-by::before
  content: "\eabc"

.icon-ui-creative-commons-nc::before
  content: "\eabd"

.icon-ui-creative-commons-nc-eu::before
  content: "\eabe"

.icon-ui-creative-commons-nc-jp::before
  content: "\eabf"

.icon-ui-creative-commons-nd::before
  content: "\eac0"

.icon-ui-creative-commons-pd::before
  content: "\eac1"

.icon-ui-creative-commons-pd-alt::before
  content: "\eac2"

.icon-ui-creative-commons-remix::before
  content: "\eac3"

.icon-ui-creative-commons-sa::before
  content: "\eac4"

.icon-ui-creative-commons-sampling::before
  content: "\eac5"

.icon-ui-creative-commons-sampling-plus::before
  content: "\eac6"

.icon-ui-creative-commons-share::before
  content: "\eac7"

.icon-ui-creative-commons-zero::before
  content: "\eac8"

.icon-ui-credit-card::before
  content: "\eac9"

.icon-ui-crop::before
  content: "\eaca"

.icon-ui-crosshairs::before
  content: "\eacb"

.icon-ui-css3::before
  content: "\eacc"

.icon-ui-css3-alt::before
  content: "\eacd"

.icon-ui-cube::before
  content: "\eace"

.icon-ui-cubes::before
  content: "\eacf"

.icon-ui-cut::before
  content: "\ead0"

.icon-ui-dailymotion::before
  content: "\ead1"

.icon-ui-database::before
  content: "\ead2"

.icon-ui-deaf::before
  content: "\ead3"

.icon-ui-deezer::before
  content: "\ead4"

.icon-ui-delicious::before
  content: "\ead5"

.icon-ui-desktop::before
  content: "\ead6"

.icon-ui-dev::before
  content: "\ead7"

.icon-ui-digg::before
  content: "\ead8"

.icon-ui-discord::before
  content: "\ead9"

.icon-ui-discourse::before
  content: "\eada"

.icon-ui-dna::before
  content: "\eadb"

.icon-ui-docker::before
  content: "\eadc"

.icon-ui-dollar-sign::before
  content: "\eadd"

.icon-ui-dolly::before
  content: "\eade"

.icon-ui-dolly-flatbed::before
  content: "\eadf"

.icon-ui-dot-circle::before
  content: "\eae0"

.icon-ui-download::before
  content: "\eae1"

.icon-ui-dropbox::before
  content: "\eae2"

.icon-ui-edge::before
  content: "\eae3"

.icon-ui-edge-legacy::before
  content: "\eae4"

.icon-ui-edit::before
  content: "\eae5"

.icon-ui-eject::before
  content: "\eae6"

.icon-ui-ellipsis-h::before
  content: "\eae7"

.icon-ui-ellipsis-v::before
  content: "\eae8"

.icon-ui-envelope::before
  content: "\eae9"

.icon-ui-envelope-open::before
  content: "\eaea"

.icon-ui-envelope-square::before
  content: "\eaeb"

.icon-ui-envira::before
  content: "\eaec"

.icon-ui-eraser::before
  content: "\eaed"

.icon-ui-ethereum::before
  content: "\eaee"

.icon-ui-euro-sign::before
  content: "\eaef"

.icon-ui-evernote::before
  content: "\eaf0"

.icon-ui-exchange-alt::before
  content: "\eaf1"

.icon-ui-exclamation::before
  content: "\eaf2"

.icon-ui-exclamation-circle::before
  content: "\eaf3"

.icon-ui-exclamation-triangle::before
  content: "\eaf4"

.icon-ui-expand::before
  content: "\eaf5"

.icon-ui-expand-arrows-alt::before
  content: "\eaf6"

.icon-ui-external-link-alt::before
  content: "\eaf7"

.icon-ui-external-link-square-alt::before
  content: "\eaf8"

.icon-ui-eye::before
  content: "\eaf9"

.icon-ui-eye-dropper::before
  content: "\eafa"

.icon-ui-eye-slash::before
  content: "\eafb"

.icon-ui-facebook::before
  content: "\eafc"

.icon-ui-facebook-f::before
  content: "\eafd"

.icon-ui-facebook-messenger::before
  content: "\eafe"

.icon-ui-facebook-square::before
  content: "\eaff"

.icon-ui-fast-backward::before
  content: "\eb00"

.icon-ui-fast-forward::before
  content: "\eb01"

.icon-ui-fax::before
  content: "\eb02"

.icon-ui-female::before
  content: "\eb03"

.icon-ui-fighter-jet::before
  content: "\eb04"

.icon-ui-figma::before
  content: "\eb05"

.icon-ui-file::before
  content: "\eb06"

.icon-ui-file-alt::before
  content: "\eb07"

.icon-ui-file-archive::before
  content: "\eb08"

.icon-ui-file-audio::before
  content: "\eb09"

.icon-ui-file-code::before
  content: "\eb0a"

.icon-ui-file-excel::before
  content: "\eb0b"

.icon-ui-file-image::before
  content: "\eb0c"

.icon-ui-file-pdf::before
  content: "\eb0d"

.icon-ui-file-powerpoint::before
  content: "\eb0e"

.icon-ui-file-video::before
  content: "\eb0f"

.icon-ui-file-word::before
  content: "\eb10"

.icon-ui-film::before
  content: "\eb11"

.icon-ui-filter::before
  content: "\eb12"

.icon-ui-fire::before
  content: "\eb13"

.icon-ui-fire-extinguisher::before
  content: "\eb14"

.icon-ui-firefox::before
  content: "\eb15"

.icon-ui-firefox-browser::before
  content: "\eb16"

.icon-ui-first-aid::before
  content: "\eb17"

.icon-ui-flag::before
  content: "\eb18"

.icon-ui-flag-checkered::before
  content: "\eb19"

.icon-ui-flask::before
  content: "\eb1a"

.icon-ui-flipboard::before
  content: "\eb1b"

.icon-ui-folder::before
  content: "\eb1c"

.icon-ui-folder-open::before
  content: "\eb1d"

.icon-ui-font::before
  content: "\eb1e"

.icon-ui-font-awesome-flag::before
  content: "\eb1f"

.icon-ui-football-ball::before
  content: "\eb20"

.icon-ui-forward::before
  content: "\eb21"

.icon-ui-frown::before
  content: "\eb22"

.icon-ui-futbol::before
  content: "\eb23"

.icon-ui-gamepad::before
  content: "\eb24"

.icon-ui-gavel::before
  content: "\eb25"

.icon-ui-gem::before
  content: "\eb26"

.icon-ui-genderless::before
  content: "\eb27"

.icon-ui-get-pocket::before
  content: "\eb28"

.icon-ui-gift::before
  content: "\eb29"

.icon-ui-git::before
  content: "\eb2a"

.icon-ui-git-alt::before
  content: "\eb2b"

.icon-ui-git-square::before
  content: "\eb2c"

.icon-ui-github::before
  content: "\eb2d"

.icon-ui-github-alt::before
  content: "\eb2e"

.icon-ui-github-square::before
  content: "\eb2f"

.icon-ui-glass-martini::before
  content: "\eb30"

.icon-ui-globe::before
  content: "\eb31"

.icon-ui-golf-ball::before
  content: "\eb32"

.icon-ui-goodreads::before
  content: "\eb33"

.icon-ui-goodreads-g::before
  content: "\eb34"

.icon-ui-google::before
  content: "\eb35"

.icon-ui-google-drive::before
  content: "\eb36"

.icon-ui-google-pay::before
  content: "\eb37"

.icon-ui-google-play::before
  content: "\eb38"

.icon-ui-google-plus::before
  content: "\eb39"

.icon-ui-google-plus-g::before
  content: "\eb3a"

.icon-ui-google-plus-square::before
  content: "\eb3b"

.icon-ui-google-wallet::before
  content: "\eb3c"

.icon-ui-graduation-cap::before
  content: "\eb3d"

.icon-ui-gulp::before
  content: "\eb3e"

.icon-ui-h-square::before
  content: "\eb3f"

.icon-ui-hacker-news::before
  content: "\eb40"

.icon-ui-hacker-news-square::before
  content: "\eb41"

.icon-ui-hand-lizard::before
  content: "\eb42"

.icon-ui-hand-paper::before
  content: "\eb43"

.icon-ui-hand-peace::before
  content: "\eb44"

.icon-ui-hand-point-down::before
  content: "\eb45"

.icon-ui-hand-point-left::before
  content: "\eb46"

.icon-ui-hand-point-right::before
  content: "\eb47"

.icon-ui-hand-point-up::before
  content: "\eb48"

.icon-ui-hand-pointer::before
  content: "\eb49"

.icon-ui-hand-rock::before
  content: "\eb4a"

.icon-ui-hand-scissors::before
  content: "\eb4b"

.icon-ui-hand-spock::before
  content: "\eb4c"

.icon-ui-handshake::before
  content: "\eb4d"

.icon-ui-hashtag::before
  content: "\eb4e"

.icon-ui-hdd::before
  content: "\eb4f"

.icon-ui-heading::before
  content: "\eb50"

.icon-ui-headphones::before
  content: "\eb51"

.icon-ui-heart::before
  content: "\eb52"

.icon-ui-heartbeat::before
  content: "\eb53"

.icon-ui-hire-a-helper::before
  content: "\eb54"

.icon-ui-history::before
  content: "\eb55"

.icon-ui-hive::before
  content: "\eb56"

.icon-ui-hockey-puck::before
  content: "\eb57"

.icon-ui-home::before
  content: "\eb58"

.icon-ui-hospital::before
  content: "\eb59"

.icon-ui-hospital-symbol::before
  content: "\eb5a"

.icon-ui-hourglass::before
  content: "\eb5b"

.icon-ui-hourglass-end::before
  content: "\eb5c"

.icon-ui-hourglass-half::before
  content: "\eb5d"

.icon-ui-hourglass-start::before
  content: "\eb5e"

.icon-ui-html5::before
  content: "\eb5f"

.icon-ui-i-cursor::before
  content: "\eb60"

.icon-ui-id-badge::before
  content: "\eb61"

.icon-ui-id-card::before
  content: "\eb62"

.icon-ui-image::before
  content: "\eb63"

.icon-ui-images::before
  content: "\eb64"

.icon-ui-imdb::before
  content: "\eb65"

.icon-ui-inbox::before
  content: "\eb66"

.icon-ui-indent::before
  content: "\eb67"

.icon-ui-industry::before
  content: "\eb68"

.icon-ui-info::before
  content: "\eb69"

.icon-ui-info-circle::before
  content: "\eb6a"

.icon-ui-instagram::before
  content: "\eb6b"

.icon-ui-instagram-square::before
  content: "\eb6c"

.icon-ui-internet-explorer::before
  content: "\eb6d"

.icon-ui-italic::before
  content: "\eb6e"

.icon-ui-itunes::before
  content: "\eb6f"

.icon-ui-itunes-note::before
  content: "\eb70"

.icon-ui-java::before
  content: "\eb71"

.icon-ui-jira::before
  content: "\eb72"

.icon-ui-js::before
  content: "\eb73"

.icon-ui-js-square::before
  content: "\eb74"

.icon-ui-jsfiddle::before
  content: "\eb75"

.icon-ui-key::before
  content: "\eb76"

.icon-ui-keyboard::before
  content: "\eb77"

.icon-ui-language::before
  content: "\eb78"

.icon-ui-laptop::before
  content: "\eb79"

.icon-ui-laravel::before
  content: "\eb7a"

.icon-ui-leaf::before
  content: "\eb7b"

.icon-ui-lemon::before
  content: "\eb7c"

.icon-ui-less::before
  content: "\eb7d"

.icon-ui-level-down-alt::before
  content: "\eb7e"

.icon-ui-level-up-alt::before
  content: "\eb7f"

.icon-ui-life-ring::before
  content: "\eb80"

.icon-ui-lightbulb::before
  content: "\eb81"

.icon-ui-line::before
  content: "\eb82"

.icon-ui-link::before
  content: "\eb83"

.icon-ui-linkedin::before
  content: "\eb84"

.icon-ui-linkedin-in::before
  content: "\eb85"

.icon-ui-linux::before
  content: "\eb86"

.icon-ui-lira-sign::before
  content: "\eb87"

.icon-ui-list::before
  content: "\eb88"

.icon-ui-list-alt::before
  content: "\eb89"

.icon-ui-list-ol::before
  content: "\eb8a"

.icon-ui-list-ul::before
  content: "\eb8b"

.icon-ui-location-arrow::before
  content: "\eb8c"

.icon-ui-lock::before
  content: "\eb8d"

.icon-ui-lock-open::before
  content: "\eb8e"

.icon-ui-long-arrow-alt-down::before
  content: "\eb8f"

.icon-ui-long-arrow-alt-left::before
  content: "\eb90"

.icon-ui-long-arrow-alt-right::before
  content: "\eb91"

.icon-ui-long-arrow-alt-up::before
  content: "\eb92"

.icon-ui-low-vision::before
  content: "\eb93"

.icon-ui-magic::before
  content: "\eb94"

.icon-ui-magnet::before
  content: "\eb95"

.icon-ui-mailchimp::before
  content: "\eb96"

.icon-ui-male::before
  content: "\eb97"

.icon-ui-map::before
  content: "\eb98"

.icon-ui-map-marker::before
  content: "\eb99"

.icon-ui-map-marker-alt::before
  content: "\eb9a"

.icon-ui-map-pin::before
  content: "\eb9b"

.icon-ui-map-signs::before
  content: "\eb9c"

.icon-ui-markdown::before
  content: "\eb9d"

.icon-ui-mars::before
  content: "\eb9e"

.icon-ui-mars-double::before
  content: "\eb9f"

.icon-ui-mars-stroke::before
  content: "\eba0"

.icon-ui-mars-stroke-h::before
  content: "\eba1"

.icon-ui-mars-stroke-v::before
  content: "\eba2"

.icon-ui-medium::before
  content: "\eba3"

.icon-ui-medium-m::before
  content: "\eba4"

.icon-ui-medkit::before
  content: "\eba5"

.icon-ui-meh::before
  content: "\eba6"

.icon-ui-mercury::before
  content: "\eba7"

.icon-ui-microblog::before
  content: "\eba8"

.icon-ui-microchip::before
  content: "\eba9"

.icon-ui-microphone::before
  content: "\ebaa"

.icon-ui-microphone-slash::before
  content: "\ebab"

.icon-ui-microsoft::before
  content: "\ebac"

.icon-ui-minus::before
  content: "\ebad"

.icon-ui-minus-circle::before
  content: "\ebae"

.icon-ui-minus-pill::before
  content: "\ebaf"

.icon-ui-minus-pill-outline::before
  content: "\ebb0"

.icon-ui-minus-square::before
  content: "\ebb1"

.icon-ui-mobile::before
  content: "\ebb2"

.icon-ui-mobile-alt::before
  content: "\ebb3"

.icon-ui-money-bill-alt::before
  content: "\ebb4"

.icon-ui-moon::before
  content: "\ebb5"

.icon-ui-motorcycle::before
  content: "\ebb6"

.icon-ui-mouse-pointer::before
  content: "\ebb7"

.icon-ui-music::before
  content: "\ebb8"

.icon-ui-napster::before
  content: "\ebb9"

.icon-ui-newspaper::before
  content: "\ebba"

.icon-ui-node::before
  content: "\ebbb"

.icon-ui-node-js::before
  content: "\ebbc"

.icon-ui-npm::before
  content: "\ebbd"

.icon-ui-object-group::before
  content: "\ebbe"

.icon-ui-object-ungroup::before
  content: "\ebbf"

.icon-ui-openid::before
  content: "\ebc0"

.icon-ui-opera::before
  content: "\ebc1"

.icon-ui-outdent::before
  content: "\ebc2"

.icon-ui-outline-address-book::before
  content: "\ebc3"

.icon-ui-outline-address-card::before
  content: "\ebc4"

.icon-ui-outline-angry::before
  content: "\ebc5"

.icon-ui-outline-arrow-alt-circle-down::before
  content: "\ebc6"

.icon-ui-outline-arrow-alt-circle-left::before
  content: "\ebc7"

.icon-ui-outline-arrow-alt-circle-right::before
  content: "\ebc8"

.icon-ui-outline-arrow-alt-circle-up::before
  content: "\ebc9"

.icon-ui-outline-bell::before
  content: "\ebca"

.icon-ui-outline-bell-slash::before
  content: "\ebcb"

.icon-ui-outline-bookmark::before
  content: "\ebcc"

.icon-ui-outline-building::before
  content: "\ebcd"

.icon-ui-outline-calendar::before
  content: "\ebce"

.icon-ui-outline-calendar-alt::before
  content: "\ebcf"

.icon-ui-outline-calendar-check::before
  content: "\ebd0"

.icon-ui-outline-calendar-minus::before
  content: "\ebd1"

.icon-ui-outline-calendar-plus::before
  content: "\ebd2"

.icon-ui-outline-calendar-times::before
  content: "\ebd3"

.icon-ui-outline-caret-square-down::before
  content: "\ebd4"

.icon-ui-outline-caret-square-left::before
  content: "\ebd5"

.icon-ui-outline-caret-square-right::before
  content: "\ebd6"

.icon-ui-outline-caret-square-up::before
  content: "\ebd7"

.icon-ui-outline-chart-bar::before
  content: "\ebd8"

.icon-ui-outline-check-circle::before
  content: "\ebd9"

.icon-ui-outline-check-square::before
  content: "\ebda"

.icon-ui-outline-circle::before
  content: "\ebdb"

.icon-ui-outline-clipboard::before
  content: "\ebdc"

.icon-ui-outline-clock::before
  content: "\ebdd"

.icon-ui-outline-clone::before
  content: "\ebde"

.icon-ui-outline-closed-captioning::before
  content: "\ebdf"

.icon-ui-outline-comment::before
  content: "\ebe0"

.icon-ui-outline-comment-alt::before
  content: "\ebe1"

.icon-ui-outline-comment-dots::before
  content: "\ebe2"

.icon-ui-outline-comments::before
  content: "\ebe3"

.icon-ui-outline-compass::before
  content: "\ebe4"

.icon-ui-outline-copy::before
  content: "\ebe5"

.icon-ui-outline-copyright::before
  content: "\ebe6"

.icon-ui-outline-credit-card::before
  content: "\ebe7"

.icon-ui-outline-dizzy::before
  content: "\ebe8"

.icon-ui-outline-dot-circle::before
  content: "\ebe9"

.icon-ui-outline-edit::before
  content: "\ebea"

.icon-ui-outline-envelope::before
  content: "\ebeb"

.icon-ui-outline-envelope-open::before
  content: "\ebec"

.icon-ui-outline-eye::before
  content: "\ebed"

.icon-ui-outline-eye-slash::before
  content: "\ebee"

.icon-ui-outline-file::before
  content: "\ebef"

.icon-ui-outline-file-alt::before
  content: "\ebf0"

.icon-ui-outline-file-archive::before
  content: "\ebf1"

.icon-ui-outline-file-audio::before
  content: "\ebf2"

.icon-ui-outline-file-code::before
  content: "\ebf3"

.icon-ui-outline-file-excel::before
  content: "\ebf4"

.icon-ui-outline-file-image::before
  content: "\ebf5"

.icon-ui-outline-file-pdf::before
  content: "\ebf6"

.icon-ui-outline-file-powerpoint::before
  content: "\ebf7"

.icon-ui-outline-file-video::before
  content: "\ebf8"

.icon-ui-outline-file-word::before
  content: "\ebf9"

.icon-ui-outline-flag::before
  content: "\ebfa"

.icon-ui-outline-flushed::before
  content: "\ebfb"

.icon-ui-outline-folder::before
  content: "\ebfc"

.icon-ui-outline-folder-open::before
  content: "\ebfd"

.icon-ui-outline-frown::before
  content: "\ebfe"

.icon-ui-outline-frown-open::before
  content: "\ebff"

.icon-ui-outline-futbol::before
  content: "\ec00"

.icon-ui-outline-gem::before
  content: "\ec01"

.icon-ui-outline-grimace::before
  content: "\ec02"

.icon-ui-outline-grin::before
  content: "\ec03"

.icon-ui-outline-grin-alt::before
  content: "\ec04"

.icon-ui-outline-grin-beam::before
  content: "\ec05"

.icon-ui-outline-grin-beam-sweat::before
  content: "\ec06"

.icon-ui-outline-grin-hearts::before
  content: "\ec07"

.icon-ui-outline-grin-squint::before
  content: "\ec08"

.icon-ui-outline-grin-squint-tears::before
  content: "\ec09"

.icon-ui-outline-grin-stars::before
  content: "\ec0a"

.icon-ui-outline-grin-tears::before
  content: "\ec0b"

.icon-ui-outline-grin-tongue::before
  content: "\ec0c"

.icon-ui-outline-grin-tongue-squint::before
  content: "\ec0d"

.icon-ui-outline-grin-tongue-wink::before
  content: "\ec0e"

.icon-ui-outline-grin-wink::before
  content: "\ec0f"

.icon-ui-outline-hand-lizard::before
  content: "\ec10"

.icon-ui-outline-hand-paper::before
  content: "\ec11"

.icon-ui-outline-hand-peace::before
  content: "\ec12"

.icon-ui-outline-hand-point-down::before
  content: "\ec13"

.icon-ui-outline-hand-point-left::before
  content: "\ec14"

.icon-ui-outline-hand-point-right::before
  content: "\ec15"

.icon-ui-outline-hand-point-up::before
  content: "\ec16"

.icon-ui-outline-hand-pointer::before
  content: "\ec17"

.icon-ui-outline-hand-rock::before
  content: "\ec18"

.icon-ui-outline-hand-scissors::before
  content: "\ec19"

.icon-ui-outline-hand-spock::before
  content: "\ec1a"

.icon-ui-outline-handshake::before
  content: "\ec1b"

.icon-ui-outline-hdd::before
  content: "\ec1c"

.icon-ui-outline-heart::before
  content: "\ec1d"

.icon-ui-outline-hospital::before
  content: "\ec1e"

.icon-ui-outline-hourglass::before
  content: "\ec1f"

.icon-ui-outline-id-badge::before
  content: "\ec20"

.icon-ui-outline-id-card::before
  content: "\ec21"

.icon-ui-outline-image::before
  content: "\ec22"

.icon-ui-outline-images::before
  content: "\ec23"

.icon-ui-outline-keyboard::before
  content: "\ec24"

.icon-ui-outline-kiss::before
  content: "\ec25"

.icon-ui-outline-kiss-beam::before
  content: "\ec26"

.icon-ui-outline-kiss-wink-heart::before
  content: "\ec27"

.icon-ui-outline-laugh::before
  content: "\ec28"

.icon-ui-outline-laugh-beam::before
  content: "\ec29"

.icon-ui-outline-laugh-squint::before
  content: "\ec2a"

.icon-ui-outline-laugh-wink::before
  content: "\ec2b"

.icon-ui-outline-lemon::before
  content: "\ec2c"

.icon-ui-outline-life-ring::before
  content: "\ec2d"

.icon-ui-outline-lightbulb::before
  content: "\ec2e"

.icon-ui-outline-list-alt::before
  content: "\ec2f"

.icon-ui-outline-map::before
  content: "\ec30"

.icon-ui-outline-meh::before
  content: "\ec31"

.icon-ui-outline-meh-blank::before
  content: "\ec32"

.icon-ui-outline-meh-rolling-eyes::before
  content: "\ec33"

.icon-ui-outline-minus-square::before
  content: "\ec34"

.icon-ui-outline-money-bill-alt::before
  content: "\ec35"

.icon-ui-outline-moon::before
  content: "\ec36"

.icon-ui-outline-newspaper::before
  content: "\ec37"

.icon-ui-outline-object-group::before
  content: "\ec38"

.icon-ui-outline-object-ungroup::before
  content: "\ec39"

.icon-ui-outline-paper-plane::before
  content: "\ec3a"

.icon-ui-outline-pause-circle::before
  content: "\ec3b"

.icon-ui-outline-play-circle::before
  content: "\ec3c"

.icon-ui-outline-plus-square::before
  content: "\ec3d"

.icon-ui-outline-question-circle::before
  content: "\ec3e"

.icon-ui-outline-registered::before
  content: "\ec3f"

.icon-ui-outline-sad-cry::before
  content: "\ec40"

.icon-ui-outline-sad-tear::before
  content: "\ec41"

.icon-ui-outline-save::before
  content: "\ec42"

.icon-ui-outline-share-square::before
  content: "\ec43"

.icon-ui-outline-smile::before
  content: "\ec44"

.icon-ui-outline-smile-beam::before
  content: "\ec45"

.icon-ui-outline-smile-wink::before
  content: "\ec46"

.icon-ui-outline-snowflake::before
  content: "\ec47"

.icon-ui-outline-square::before
  content: "\ec48"

.icon-ui-outline-star::before
  content: "\ec49"

.icon-ui-outline-star-half::before
  content: "\ec4a"

.icon-ui-outline-sticky-note::before
  content: "\ec4b"

.icon-ui-outline-stop-circle::before
  content: "\ec4c"

.icon-ui-outline-sun::before
  content: "\ec4d"

.icon-ui-outline-surprise::before
  content: "\ec4e"

.icon-ui-outline-thumbs-down::before
  content: "\ec4f"

.icon-ui-outline-thumbs-up::before
  content: "\ec50"

.icon-ui-outline-times-circle::before
  content: "\ec51"

.icon-ui-outline-tired::before
  content: "\ec52"

.icon-ui-outline-trash-alt::before
  content: "\ec53"

.icon-ui-outline-user::before
  content: "\ec54"

.icon-ui-outline-user-circle::before
  content: "\ec55"

.icon-ui-outline-window-close::before
  content: "\ec56"

.icon-ui-outline-window-maximize::before
  content: "\ec57"

.icon-ui-outline-window-minimize::before
  content: "\ec58"

.icon-ui-outline-window-restore::before
  content: "\ec59"

.icon-ui-paint-brush::before
  content: "\ec5a"

.icon-ui-pallet::before
  content: "\ec5b"

.icon-ui-paper-plane::before
  content: "\ec5c"

.icon-ui-paperclip::before
  content: "\ec5d"

.icon-ui-paragraph::before
  content: "\ec5e"

.icon-ui-paste::before
  content: "\ec5f"

.icon-ui-patreon::before
  content: "\ec60"

.icon-ui-pause::before
  content: "\ec61"

.icon-ui-pause-circle::before
  content: "\ec62"

.icon-ui-paw::before
  content: "\ec63"

.icon-ui-paypal::before
  content: "\ec64"

.icon-ui-pen-square::before
  content: "\ec65"

.icon-ui-pencil-alt::before
  content: "\ec66"

.icon-ui-percent::before
  content: "\ec67"

.icon-ui-phone::before
  content: "\ec68"

.icon-ui-phone-square::before
  content: "\ec69"

.icon-ui-phone-volume::before
  content: "\ec6a"

.icon-ui-php::before
  content: "\ec6b"

.icon-ui-pills::before
  content: "\ec6c"

.icon-ui-pinterest::before
  content: "\ec6d"

.icon-ui-pinterest-p::before
  content: "\ec6e"

.icon-ui-pinterest-square::before
  content: "\ec6f"

.icon-ui-plane::before
  content: "\ec70"

.icon-ui-play::before
  content: "\ec71"

.icon-ui-play-circle::before
  content: "\ec72"

.icon-ui-plug::before
  content: "\ec73"

.icon-ui-plus::before
  content: "\ec74"

.icon-ui-plus-circle::before
  content: "\ec75"

.icon-ui-plus-pill::before
  content: "\ec76"

.icon-ui-plus-pill-outline::before
  content: "\ec77"

.icon-ui-plus-square::before
  content: "\ec78"

.icon-ui-podcast::before
  content: "\ec79"

.icon-ui-pound-sign::before
  content: "\ec7a"

.icon-ui-power-off::before
  content: "\ec7b"

.icon-ui-print::before
  content: "\ec7c"

.icon-ui-puzzle-piece::before
  content: "\ec7d"

.icon-ui-python::before
  content: "\ec7e"

.icon-ui-qrcode::before
  content: "\ec7f"

.icon-ui-question::before
  content: "\ec80"

.icon-ui-question-circle::before
  content: "\ec81"

.icon-ui-quora::before
  content: "\ec82"

.icon-ui-quote-left::before
  content: "\ec83"

.icon-ui-quote-right::before
  content: "\ec84"

.icon-ui-r-project::before
  content: "\ec85"

.icon-ui-random::before
  content: "\ec86"

.icon-ui-raspberry-pi::before
  content: "\ec87"

.icon-ui-react::before
  content: "\ec88"

.icon-ui-readme::before
  content: "\ec89"

.icon-ui-recycle::before
  content: "\ec8a"

.icon-ui-reddit::before
  content: "\ec8b"

.icon-ui-reddit-alien::before
  content: "\ec8c"

.icon-ui-reddit-square::before
  content: "\ec8d"

.icon-ui-redhat::before
  content: "\ec8e"

.icon-ui-redo::before
  content: "\ec8f"

.icon-ui-redo-alt::before
  content: "\ec90"

.icon-ui-registered::before
  content: "\ec91"

.icon-ui-reply::before
  content: "\ec92"

.icon-ui-reply-all::before
  content: "\ec93"

.icon-ui-retweet::before
  content: "\ec94"

.icon-ui-rev::before
  content: "\ec95"

.icon-ui-road::before
  content: "\ec96"

.icon-ui-rocket::before
  content: "\ec97"

.icon-ui-rss::before
  content: "\ec98"

.icon-ui-rss-square::before
  content: "\ec99"

.icon-ui-ruble-sign::before
  content: "\ec9a"

.icon-ui-rupee-sign::before
  content: "\ec9b"

.icon-ui-safari::before
  content: "\ec9c"

.icon-ui-salesforce::before
  content: "\ec9d"

.icon-ui-sass::before
  content: "\ec9e"

.icon-ui-save::before
  content: "\ec9f"

.icon-ui-scribd::before
  content: "\eca0"

.icon-ui-search::before
  content: "\eca1"

.icon-ui-search-minus::before
  content: "\eca2"

.icon-ui-search-plus::before
  content: "\eca3"

.icon-ui-server::before
  content: "\eca4"

.icon-ui-share::before
  content: "\eca5"

.icon-ui-share-alt::before
  content: "\eca6"

.icon-ui-share-alt-square::before
  content: "\eca7"

.icon-ui-share-square::before
  content: "\eca8"

.icon-ui-shekel-sign::before
  content: "\eca9"

.icon-ui-shield-alt::before
  content: "\ecaa"

.icon-ui-ship::before
  content: "\ecab"

.icon-ui-shipping-fast::before
  content: "\ecac"

.icon-ui-shopping-bag::before
  content: "\ecad"

.icon-ui-shopping-basket::before
  content: "\ecae"

.icon-ui-shopping-cart::before
  content: "\ecaf"

.icon-ui-shower::before
  content: "\ecb0"

.icon-ui-sign-in-alt::before
  content: "\ecb1"

.icon-ui-sign-language::before
  content: "\ecb2"

.icon-ui-sign-out-alt::before
  content: "\ecb3"

.icon-ui-signal::before
  content: "\ecb4"

.icon-ui-sitemap::before
  content: "\ecb5"

.icon-ui-sith::before
  content: "\ecb6"

.icon-ui-sketch::before
  content: "\ecb7"

.icon-ui-skype::before
  content: "\ecb8"

.icon-ui-slack::before
  content: "\ecb9"

.icon-ui-slack-hash::before
  content: "\ecba"

.icon-ui-sliders-h::before
  content: "\ecbb"

.icon-ui-slideshare::before
  content: "\ecbc"

.icon-ui-snapchat::before
  content: "\ecbd"

.icon-ui-snapchat-ghost::before
  content: "\ecbe"

.icon-ui-snapchat-square::before
  content: "\ecbf"

.icon-ui-snowflake::before
  content: "\ecc0"

.icon-ui-sort::before
  content: "\ecc1"

.icon-ui-sort-alpha-down::before
  content: "\ecc2"

.icon-ui-sort-alpha-up::before
  content: "\ecc3"

.icon-ui-sort-amount-down::before
  content: "\ecc4"

.icon-ui-sort-amount-up::before
  content: "\ecc5"

.icon-ui-sort-down::before
  content: "\ecc6"

.icon-ui-sort-numeric-down::before
  content: "\ecc7"

.icon-ui-sort-numeric-up::before
  content: "\ecc8"

.icon-ui-sort-up::before
  content: "\ecc9"

.icon-ui-space-shuttle::before
  content: "\ecca"

.icon-ui-speaker-deck::before
  content: "\eccb"

.icon-ui-spinner::before
  content: "\eccc"

.icon-ui-spotify::before
  content: "\eccd"

.icon-ui-square::before
  content: "\ecce"

.icon-ui-square-full::before
  content: "\eccf"

.icon-ui-stack-exchange::before
  content: "\ecd0"

.icon-ui-stack-overflow::before
  content: "\ecd1"

.icon-ui-star::before
  content: "\ecd2"

.icon-ui-star-half::before
  content: "\ecd3"

.icon-ui-step-backward::before
  content: "\ecd4"

.icon-ui-step-forward::before
  content: "\ecd5"

.icon-ui-stethoscope::before
  content: "\ecd6"

.icon-ui-sticky-note::before
  content: "\ecd7"

.icon-ui-stop::before
  content: "\ecd8"

.icon-ui-stop-circle::before
  content: "\ecd9"

.icon-ui-stopwatch::before
  content: "\ecda"

.icon-ui-street-view::before
  content: "\ecdb"

.icon-ui-strikethrough::before
  content: "\ecdc"

.icon-ui-stripe::before
  content: "\ecdd"

.icon-ui-stripe-s::before
  content: "\ecde"

.icon-ui-subscript::before
  content: "\ecdf"

.icon-ui-subway::before
  content: "\ece0"

.icon-ui-suitcase::before
  content: "\ece1"

.icon-ui-sun::before
  content: "\ece2"

.icon-ui-superscript::before
  content: "\ece3"

.icon-ui-swift::before
  content: "\ece4"

.icon-ui-sync::before
  content: "\ece5"

.icon-ui-sync-alt::before
  content: "\ece6"

.icon-ui-syringe::before
  content: "\ece7"

.icon-ui-table::before
  content: "\ece8"

.icon-ui-table-tennis::before
  content: "\ece9"

.icon-ui-tablet::before
  content: "\ecea"

.icon-ui-tablet-alt::before
  content: "\eceb"

.icon-ui-tachometer-alt::before
  content: "\ecec"

.icon-ui-tag::before
  content: "\eced"

.icon-ui-tags::before
  content: "\ecee"

.icon-ui-tasks::before
  content: "\ecef"

.icon-ui-taxi::before
  content: "\ecf0"

.icon-ui-telegram::before
  content: "\ecf1"

.icon-ui-telegram-plane::before
  content: "\ecf2"

.icon-ui-terminal::before
  content: "\ecf3"

.icon-ui-text-height::before
  content: "\ecf4"

.icon-ui-text-width::before
  content: "\ecf5"

.icon-ui-th::before
  content: "\ecf6"

.icon-ui-th-large::before
  content: "\ecf7"

.icon-ui-th-list::before
  content: "\ecf8"

.icon-ui-thermometer::before
  content: "\ecf9"

.icon-ui-thermometer-empty::before
  content: "\ecfa"

.icon-ui-thermometer-full::before
  content: "\ecfb"

.icon-ui-thermometer-half::before
  content: "\ecfc"

.icon-ui-thermometer-quarter::before
  content: "\ecfd"

.icon-ui-thermometer-three-quarters::before
  content: "\ecfe"

.icon-ui-thumbs-down::before
  content: "\ecff"

.icon-ui-thumbs-up::before
  content: "\ed00"

.icon-ui-thumbtack::before
  content: "\ed01"

.icon-ui-ticket-alt::before
  content: "\ed02"

.icon-ui-tiktok::before
  content: "\ed03"

.icon-ui-times::before
  content: "\ed04"

.icon-ui-times-circle::before
  content: "\ed05"

.icon-ui-tint::before
  content: "\ed06"

.icon-ui-toggle-off::before
  content: "\ed07"

.icon-ui-toggle-on::before
  content: "\ed08"

.icon-ui-trademark::before
  content: "\ed09"

.icon-ui-train::before
  content: "\ed0a"

.icon-ui-transgender::before
  content: "\ed0b"

.icon-ui-transgender-alt::before
  content: "\ed0c"

.icon-ui-trash::before
  content: "\ed0d"

.icon-ui-trash-alt::before
  content: "\ed0e"

.icon-ui-tree::before
  content: "\ed0f"

.icon-ui-trello::before
  content: "\ed10"

.icon-ui-trophy::before
  content: "\ed11"

.icon-ui-truck::before
  content: "\ed12"

.icon-ui-tty::before
  content: "\ed13"

.icon-ui-tumblr::before
  content: "\ed14"

.icon-ui-tumblr-square::before
  content: "\ed15"

.icon-ui-tv::before
  content: "\ed16"

.icon-ui-twitch::before
  content: "\ed17"

.icon-ui-twitter::before
  content: "\ed18"

.icon-ui-twitter-square::before
  content: "\ed19"

.icon-ui-ubuntu::before
  content: "\ed1a"

.icon-ui-umbrella::before
  content: "\ed1b"

.icon-ui-underline::before
  content: "\ed1c"

.icon-ui-undo::before
  content: "\ed1d"

.icon-ui-undo-alt::before
  content: "\ed1e"

.icon-ui-universal-access::before
  content: "\ed1f"

.icon-ui-university::before
  content: "\ed20"

.icon-ui-unlink::before
  content: "\ed21"

.icon-ui-unlock::before
  content: "\ed22"

.icon-ui-unlock-alt::before
  content: "\ed23"

.icon-ui-upload::before
  content: "\ed24"

.icon-ui-usb::before
  content: "\ed25"

.icon-ui-user::before
  content: "\ed26"

.icon-ui-user-circle::before
  content: "\ed27"

.icon-ui-user-md::before
  content: "\ed28"

.icon-ui-user-plus::before
  content: "\ed29"

.icon-ui-user-secret::before
  content: "\ed2a"

.icon-ui-user-times::before
  content: "\ed2b"

.icon-ui-users::before
  content: "\ed2c"

.icon-ui-usps::before
  content: "\ed2d"

.icon-ui-utensil-spoon::before
  content: "\ed2e"

.icon-ui-utensils::before
  content: "\ed2f"

.icon-ui-venus::before
  content: "\ed30"

.icon-ui-venus-double::before
  content: "\ed31"

.icon-ui-venus-mars::before
  content: "\ed32"

.icon-ui-video::before
  content: "\ed33"

.icon-ui-vimeo::before
  content: "\ed34"

.icon-ui-vimeo-square::before
  content: "\ed35"

.icon-ui-vimeo-v::before
  content: "\ed36"

.icon-ui-volleyball-ball::before
  content: "\ed37"

.icon-ui-volume-down::before
  content: "\ed38"

.icon-ui-volume-off::before
  content: "\ed39"

.icon-ui-volume-up::before
  content: "\ed3a"

.icon-ui-vuejs::before
  content: "\ed3b"

.icon-ui-warehouse::before
  content: "\ed3c"

.icon-ui-weibo::before
  content: "\ed3d"

.icon-ui-weight::before
  content: "\ed3e"

.icon-ui-weixin::before
  content: "\ed3f"

.icon-ui-whatsapp::before
  content: "\ed40"

.icon-ui-whatsapp-square::before
  content: "\ed41"

.icon-ui-wheelchair::before
  content: "\ed42"

.icon-ui-wifi::before
  content: "\ed43"

.icon-ui-wikipedia-w::before
  content: "\ed44"

.icon-ui-window-close::before
  content: "\ed45"

.icon-ui-window-maximize::before
  content: "\ed46"

.icon-ui-window-minimize::before
  content: "\ed47"

.icon-ui-window-restore::before
  content: "\ed48"

.icon-ui-windows::before
  content: "\ed49"

.icon-ui-won-sign::before
  content: "\ed4a"

.icon-ui-wordpress::before
  content: "\ed4b"

.icon-ui-wordpress-simple::before
  content: "\ed4c"

.icon-ui-wpforms::before
  content: "\ed4d"

.icon-ui-wrench::before
  content: "\ed4e"

.icon-ui-yammer::before
  content: "\ed4f"

.icon-ui-yarn::before
  content: "\ed50"

.icon-ui-yen-sign::before
  content: "\ed51"

.icon-ui-yoast::before
  content: "\ed52"

.icon-ui-youtube::before
  content: "\ed53"

.icon-ui-youtube-square::before
  content: "\ed54"

